﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select *,convert(varchar,t_proposal_pricelist.created_date,103) tanggal,sp_status  from t_proposal_pricelist inner join r_proposal_status on r_proposal_status.id = status where status in(3,4,5) and on_behalf = '"+Session["id_on_behalf"].ToString()+"'");
    while (reader.Read())
    {
        Response.Write("<tr>");
        Response.Write("<td>" + reader["proposal_number"] + "</td>");
        Response.Write("<td>" + reader["subject"] + "</td>");
        Response.Write("<td>" + reader["tanggal"] + "</td>");
        Response.Write("<td>" + reader["sp_status"] + "</td>");
        Response.Write("<td style='text-align:center'>");
        Response.Write("<a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Backward' onclick='do_edit(" + reader["id"].ToString() + ",10)'><i class='fa fa-backward'></i></a>&nbsp;<a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Forward' onclick='do_edit(" + reader["id"].ToString() + ",11)'><i class='fa fa-forward'></i></a>");
        Response.Write("</td>");
        Response.Write("</tr>");
    }
    reader.Close();
    database.Close();
%>