﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
	String c_division="0";
    cotton.lib.MyDatabase databaseCount = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader readerCount = databaseCount.Query("select cast(count(division_code) as char) as c_division from m_division");
    readerCount.Read();
	c_division = readerCount["c_division"].ToString().Trim();
    readerCount.Close();
    databaseCount.Close();
	
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_division order by id");
	Response.Write("<tr>");
	Response.Write("<th rowspan='2'>No</th>");
	Response.Write("<th rowspan='2'>Local Sales Region</th>");
	Response.Write("<th rowspan='2'>Description</th>");
	Response.Write("<th colspan='" + c_division.ToString().Trim() + "'><center>Division</center></th>");
	Response.Write("<th rowspan='2'>Action</th>");
	Response.Write("</tr>");
	Response.Write("<tr>");
    while (reader.Read())
    {
		Response.Write("<th style='text-align:center;'>" + reader["division_code"] + "</th>");
    }
	Response.Write("</tr>");
    reader.Close();
    database.Close();
%>