﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    String id_sales_region = Request.Form["id_sales_region"].ToString();
    String id_division_arr = Request.Form["id_division_arr"].ToString();
    String id_area_arr = Request.Form["id_area_arr"].ToString();

    String sqlInsert = "";

    cotton.lib.MyDatabase db = new cotton.lib.MyDatabase();
    int count = 0;
    if (id == "0")
    {
        System.Data.SqlClient.SqlDataReader reader = db.Query("select TOP 1 id_sales_region from m_mapping_sales_region WHERE id_sales_region = '" + id_sales_region + "' ");
        while (reader.Read())
        {
            count++;
        }
    }
    //else {
    //    System.Data.SqlClient.SqlDataReader reader = db.Query("select TOP 1 id_sales_region from m_mapping_sales_region WHERE id_sales_region = '" + id_sales_region + "' AND id != '"+id+"' ");
    //    while (reader.Read())
    //    {
    //        count++;
    //    }
    //}

    if (count == 0)
    {
        sqlInsert = "Delete from m_mapping_sales_region where id_sales_region = '" + id_sales_region + "';";
        string[] id_division_arrs = id_division_arr.Split(new[]{","}, StringSplitOptions.None);
        string[] id_area_arrs = id_area_arr.Split(new[]{","}, StringSplitOptions.None);

        for(var i=0; i<id_division_arrs.Length-1; i++){
            if (id_area_arrs[i] != ""){
                sqlInsert += "insert into m_mapping_sales_region(id_sales_region,id_division,id_area,created_by,created_date) values ('" + id_sales_region + "', '" + id_division_arrs[i] + "', '" + id_area_arrs[i] + "','"+Session["id"].ToString()+"',getdate());";
            }
        }
        cotton.lib.MyDatabase.FastExec(sqlInsert);
    }
    else {
        Response.Write("Warning!<br>Data duplicate.");
    }
%>