﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    String id_division = Request.Form["id_division"].ToString();
    String selected_channel = Request.Form["selected_channel"].ToString();
    String selected_margin = Request.Form["selected_margin"].ToString();
    String sqlInsert = "";

    cotton.lib.MyDatabase db = new cotton.lib.MyDatabase();
    int count = 0;
    if (id == "0")
    {
        System.Data.SqlClient.SqlDataReader reader = db.Query("select TOP 1 id_division from m_mapping_channel_margin WHERE id_division = '" + id_division + "' ");
        while (reader.Read())
        {
            count++;
        }
    }
    //else {
    //    System.Data.SqlClient.SqlDataReader reader = db.Query("select TOP 1 id_division from m_mapping_channel_margin WHERE id_division = '" + id_division + "' AND id != '"+id+"' ");
    //    while (reader.Read())
    //    {
    //        count++;
    //    }
    //}

    if (count == 0)
    {
        sqlInsert = "Delete from m_mapping_channel_margin where id_division = '" + id_division + "';";
        string[] id_channels = selected_channel.Split(new[] { "," }, StringSplitOptions.None);
        string[] margins = selected_margin.Split(new[] { "," }, StringSplitOptions.None);
        for (var i = 0; i < id_channels.Length; i++)
        {
            if (margins[i] != "")
            {
                decimal margin = Convert.ToDecimal(margins[i]) / 100;
                sqlInsert += "insert into m_mapping_channel_margin(id_division, id_channel, margin,created_by, created_date) values ('" + id_division + "', '" + id_channels[i] + "', " + margin + ",'" + Session["id"].ToString() + "',getdate());";
            }
        }
        cotton.lib.MyDatabase.FastExec(sqlInsert);
    }
    else {
        Response.Write("Warning!<br>Data duplicate.");
    }
%>