﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase.FastExec("update t_proposal_detail set t_proposal_detail.toko_price = t_new_proposed_price.toko_price,t_proposal_detail.rsp_price = t_new_proposed_price.rsp_price from t_proposal_detail inner join t_new_proposed_price on t_new_proposed_price.id_proposal_detail = t_proposal_detail.id where t_proposal_detail.id = '" + id + "'");
    cotton.lib.MyDatabase.FastExec("delete from t_new_proposed_price where id_proposal_detail = '" + id + "'");
%>