﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase.FastExec("delete from t_new_proposed_price where id_proposal_detail = '" + id + "'");
%>