﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String sql = "";
    try
    {
        if (Session["id_job_title"].ToString() == "1")
        {
            sql = "select m_user.*,m_job_title.job_title,r_user_status.status user_status from m_user  inner join m_job_title on id_job_title = m_job_title.id inner join r_user_status on r_user_status.id = m_user.status where m_user.status = '3'";
        }
        else if (Session["id_job_title"].ToString() == "14")
        {
            sql = "select m_user.*,m_job_title.job_title,r_user_status.status user_status from m_user  inner join m_job_title on id_job_title = m_job_title.id inner join r_user_status on r_user_status.id = m_user.status where m_user.status = '2' or (noreg_lm = '" + Session["noreg"].ToString() + "' and m_user.status = '1')";
        }
        else
        {
            sql = "select m_user.*,m_job_title.job_title,r_user_status.status user_status from m_user  inner join m_job_title on id_job_title = m_job_title.id inner join r_user_status on r_user_status.id = m_user.status where noreg_lm = '" + Session["noreg"].ToString() + "' and m_user.status = '1'";
        }
        int notif_app_user = 0;
        int notif_user = 0;
        cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
        System.Data.SqlClient.SqlDataReader reader = database.Query(sql);
        while (reader.Read())
        {
            notif_app_user++;
            notif_user++;
        }
        Response.Write("{");
        Response.Write("'is_login':'true',");
        Response.Write("'notif-37':'" + notif_app_user + "',");
        Response.Write("'notif-4':'" + notif_user + "'");
        Response.Write("}");
        reader.Close();
        database.Close();
    }
    catch (Exception e)
    {
        Response.Write("{");
        Response.Write("'is_login':'false'");
        Response.Write("}");

    }
%>