﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    String id = Request.Form["id"].ToString();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select m_user.*,job_title,sales_org_code from m_user inner join m_job_title on m_job_title.id = id_job_title inner join m_sales_org on m_user.id_sales_org = m_sales_org.id where m_user.id = '"+id+"'");
    if (reader.Read())
    {
        Session["id_on_behalf"] = reader["id"].ToString();
        Session["id_job_title_on_behalf"] = reader["id_job_title"].ToString();
        Session["id_sales_org_on_behalf"] = reader["id_sales_org"].ToString();
        Session["sales_org_on_behalf"] = reader["sales_org_code"].ToString();
        cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_user','0','Login','"+Session["id"].ToString()+"',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
    }
    else {
        Response.Write("{status:0,msg:'Username or Password is invalid !!!'}");
    }
    reader.Close();
    database.Close();
%>