﻿
<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    String username = Request.Form["username"].ToString();
    String password = Request.Form["password"].ToString();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select m_user.*,job_title,sales_org_code from m_user inner join m_job_title on m_job_title.id = id_job_title inner join m_sales_org on m_user.id_sales_org = m_sales_org.id where username = '"+username+"' and password = '"+ password +"' and status = '5'");
    if (reader.Read())
    {
        Session["username"] = reader["username"].ToString();
        Session["name"] = reader["name"].ToString();
        Session["email"] = reader["email"].ToString();
        Session["job_title"] = reader["job_title"].ToString();
        Session["id_job_title"] = reader["id_job_title"].ToString();
        Session["id_sales_org"] = reader["id_sales_org"].ToString();
        Session["id"] = reader["id"].ToString();
        Session["id_on_behalf"] = reader["id"].ToString();
        Session["id_job_title_on_behalf"] = reader["id_job_title"].ToString();
        Session["id_sales_org_on_behalf"] = reader["id_sales_org"].ToString();
        Session["sales_org_on_behalf"] = reader["sales_org_code"].ToString();
        Session["noreg"] = reader["noreg"].ToString();
        String opsi = "{text:'"+reader["name"]+"',value:'"+reader["id"].ToString()+"'}";
        cotton.lib.MyDatabase database2 = new cotton.lib.MyDatabase();
        System.Data.SqlClient.SqlDataReader reader2 = database2.Query("select m_user.* from t_delegation inner join m_user on m_user.id = id_user where getdate() <= DATEADD(day, 1, datestop)  and getdate() >= datestart and id_delegate_to = '" + reader["id"].ToString() + "' and status = '5'");
        while (reader2.Read()) {
            opsi += ",{text:'"+reader2["name"]+"',value:'"+reader2["id"].ToString()+"'}";
        }
        reader2.Close();
        database2.Close();
        database2 = new cotton.lib.MyDatabase();
        reader2 = database2.Query("select m_user.* from t_delegation inner join m_user on m_user.id = id_user where getdate() <= DATEADD(day, 1, datestop)  and getdate() >= datestart and id_delegate_to = (select top 1 t_delegation.id_user from t_delegation where getdate() <= DATEADD(day, 1, datestop)  and getdate() >= datestart and id_delegate_to = '"+reader["id"].ToString()+"' and status = '5')");
        while (reader2.Read()) {
            opsi += ",{text:'"+reader2["name"]+"',value:'"+reader2["id"].ToString()+"'}";
        }
        reader2.Close();
        database2.Close();
        Response.Write("{status:1,opsi:["+opsi+"]}");
        cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_user','0','Login','"+Session["id"].ToString()+"',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
    }
    else {
        Response.Write("{status:0,msg:'Username or Password is invalid !!!'}");
    }
    reader.Close();
    database.Close();
%>