﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    Session["username"] = "";
    Session["name"] = "";
    Session["job_title"] = "";
    Session["id_job_title"] = "";
    Session["id"] = "";
    Session.Abandon();
%>