﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
	if(Request.QueryString["id"] == null){
	    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
	    System.Data.SqlClient.SqlDataReader reader = database.Query("select top 1 * from tmp_email order by id desc");
	    while (reader.Read())
	    {
	        Response.Write(reader["body"].ToString());
	    }
	    reader.Close();
	    database.Close();
    }else{
    	cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
	    System.Data.SqlClient.SqlDataReader reader = database.Query("select top 1 * from tmp_email where id = '"+Request.QueryString["id"].ToString()+"'");
	    while (reader.Read())
	    {
	        Response.Write(reader["body"].ToString());
	    }
	    reader.Close();
	    database.Close();
    }
%>