﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_division where id = '"+id+"'");
    while (reader.Read())
    {
        Response.Write("{");
        Response.Write("'id_sales_org':'" + reader["id_sales_org"] + "',");
        Response.Write("'division_code':'" + reader["division_code"] + "',");
        Response.Write("'division_desc':'" + reader["division_desc"] + "'");
        Response.Write("}");
    }
    reader.Close();
    database.Close();
%>