﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    String id_sales_org = Request.Form["id_sales_org"].ToString().Trim();
    String division_code = Request.Form["division_code"].ToString().Trim();
    String division_desc = Request.Form["division_desc"].ToString().Trim();

    cotton.lib.MyDatabase db = new cotton.lib.MyDatabase();
    int count = 0;
    if (id == "0")
    {
        System.Data.SqlClient.SqlDataReader reader = db.Query("select TOP 1 division_code from m_division WHERE division_code = '"+division_code+"' ");
        while(reader.Read()){
            count++;
        }
        if (count == 0)
        {
            cotton.lib.MyDatabase.FastExec("insert into m_division(id_sales_org,division_code,division_desc,created_by,created_date) values('" + id_sales_org + "','" + division_code + "','" + division_desc + "','" + Session["id"].ToString() + "',getdate())");
            cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_division','0','Insert Data','" + Session["id"].ToString() + "',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
        }
        else {
            Response.Write("Warning!<br>Data duplicate.");
        }
    }
    else {
        System.Data.SqlClient.SqlDataReader reader = db.Query("select TOP 1 division_code from m_division WHERE division_code = '"+division_code+"' AND id != '" + id + "' ");
        while(reader.Read()){
            count++;
        }
        if (count == 0)
        {
            cotton.lib.MyDatabase.FastExec("update m_division set id_sales_org='" + id_sales_org + "', division_code = '" + division_code + "', division_desc = '" + division_desc + "' where id = '" + id + "'");
            cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('mm_division','" + id + "','Update Data','" + Session["id"].ToString() + "',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
        }
        else {
            Response.Write("Warning!<br>Data duplicate.");
        }
    }
%>