﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select id,replace(convert(char,publish_date,101),'-','/') as publish_date, replace(convert(char,effective_date,101),'-','/') as effective_date from m_callendar where id = '"+id+"'");
    while (reader.Read())
    {
        Response.Write("{");
        Response.Write("'publish_date':'" + reader["publish_date"] + "',");
        Response.Write("'effective_date':'" + reader["effective_date"] + "'");
        Response.Write("}");
    }
    reader.Close();
    database.Close();
%>