﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    String publish_date = Request.Form["publish_date"].ToString();
    String effective_date = Request.Form["effective_date"].ToString();
    if (id == "0")
    {
        cotton.lib.MyDatabase.FastExec("insert into m_callendar(publish_date,effective_date,created_by,created_date) values('" + publish_date + "','" + effective_date + "','"+Session["id"].ToString()+"',getdate())");
        cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_callendar','0','Insert Data','"+Session["id"].ToString()+"',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
    }
    else {
        cotton.lib.MyDatabase.FastExec("update m_callendar set publish_date = '"+publish_date+"', effective_date= '"+effective_date+"' where id = '"+id+"'");
        cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_callendar','"+id+"','Update Data','"+Session["id"].ToString()+"',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
    }
%>