﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_mapping_new_division_2 where id = '"+id+"'");
    while (reader.Read())
    {
        Response.Write("{");
        Response.Write("'id_division':'" + reader["id_division"] + "',");
        Response.Write("'code':'" + reader["code"] + "'");
        Response.Write("}");
    }
    reader.Close();
    database.Close();
%>