﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    String id_division = Request.Form["id_division"].ToString();
    String code = Request.Form["code"].ToString();
    if (id == "0")
    {
        cotton.lib.MyDatabase.FastExec("delete from m_mapping_new_division_2 where id_division = '" + id_division + "' and code = '" + code + "'");
        cotton.lib.MyDatabase.FastExec("insert into m_mapping_new_division_2(id_division,code,created_by,created_date) values('"+id_division+"','"+code+"','"+Session["id"].ToString()+"',getdate())");
        cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_mapping_new_division_2','0','Insert Data','"+Session["id"].ToString()+"',getdate(),'" + Session["id_on_behalf"].ToString() + "')");

    }
    else {
        cotton.lib.MyDatabase.FastExec("update m_mapping_new_division_2 set id_division='"+id_division+"',code='"+code+"' where id= '"+id+"'");
        cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_mapping_new_division_2','"+id+"','Update Data','"+Session["id"].ToString()+"',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
    }
%>