﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String BRNCD = Request.Form["BRNCD"];
    String sales_org = Request.Form["sales_org"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select distinct SECCD,SECNM from m_hierarchy where BRNCD = '"+BRNCD+"' and VKORG = '"+sales_org+"'");
    while (reader.Read())
    {
        Response.Write("<ul class='border'>");
        Response.Write("<li><input type='checkbox' name='SECNM' value='"+reader["SECCD"].ToString()+"' checked>"+"<small>"+reader["SECCD"].ToString()+"</small> &nbsp" + reader["SECNM"].ToString() + "</input></li>");
        Response.Write("</ul>");
    }
    reader.Close();
    database.Close();
%>