﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String sales_org = Request.Form["sales_org"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select distinct DIVCD,DIVNM from m_hierarchy where DIVNM != 'NULL' and VKORG = '"+sales_org+"' order by DIVCD ASC");
    while (reader.Read())
    {
        Response.Write("<ul>");
        Response.Write("<li><a><input type='checkbox' id='"+reader["DIVCD"].ToString()+"' onclick=\"load_category('"+reader["DIVCD"].ToString()+"')\"><small>"+ reader["DIVCD"].ToString() +"</small>&nbsp;" + reader["DIVNM"].ToString() + "</a></input><span id='list_category_"+reader["DIVCD"].ToString()+"'><span></li>");
        Response.Write("</ul>");
    }
    reader.Close();
    database.Close();
%>