﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String DIVCD = Request.Form["DIVCD"];
    String sales_org = Request.Form["sales_org"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select distinct CATCD,CATNM from m_hierarchy where DIVCD = '"+DIVCD+"' and VKORG = '"+sales_org+"'");
    while (reader.Read())
    {
        Response.Write("<ul class='border'>");
        Response.Write("<li><a>"+"<input type='checkbox' id='"+reader["CATCD"]+"' onclick=\"load_brand('"+reader["CATCD"]+"')\" ><small>"+reader["CATCD"].ToString()+"</small> &nbsp" + reader["CATNM"].ToString() + "</input></a><span id='list_brand_"+reader["CATCD"].ToString()+"'><span></li>");
        Response.Write("</ul>");
    }
    reader.Close();
    database.Close();
%>