﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_sales_org ");
    Response.Write("<option value='' selected disabled>Please select</option>");
    while (reader.Read())
    {
        Response.Write("<option value='"+reader["id"].ToString()+"'>");
        Response.Write(reader["sales_org_code"].ToString());
        Response.Write("</option>");
    }
    reader.Close();
    database.Close();
%>