﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String CATCD = Request.Form["CATCD"];
    String sales_org = Request.Form["sales_org"].ToString();
    String id_job_title = Request.Form["id_job_title"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select distinct BRNCD,BRNNM,MRKNM,dbo.get_names(BRNCD,0,"+id_job_title+") name from m_hierarchy where CATCD = '"+CATCD+"' AND VKORG = '"+sales_org+"'");
    while (reader.Read())
    {
        Response.Write("<ul class='border'>");
        Response.Write("<li><a>"+"<input type='checkbox' user = '"+reader["name"].ToString()+"' name='BRNNM' id='"+reader["BRNCD"].ToString()+"' onclick=\"load_segment('"+reader["BRNCD"].ToString()+"')\"><small>"+reader["BRNCD"].ToString()+"</small> &nbsp" +reader["BRNNM"].ToString() + "</input><small style='color:black'>"+reader["MRKNM"].ToString()+"</small><small style='color:red'><i>"+reader["name"].ToString()+"</i></small></a><span id='list_segment_"+reader["BRNCD"].ToString()+"'><span></li>");
        Response.Write("</ul>");
    }
    reader.Close();
    database.Close();
%>