﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String EMAIL = Request.Form["email"];
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select * from v_employee where email = '"+EMAIL+"'");
    String where = "";
    if (!reader.Read())
    {
        where = " where job_title in('Area User','MDM')";
    }
    reader.Close();
    database.Close();
    database = new cotton.lib.MyDatabase();
    reader = database.Query("select m_job_title.*,ISNULL(m_approval.id,0) app from m_job_title left join m_approval on m_approval.id_app_job_title = m_job_title.id "+where);
    Response.Write("<option value='' selected disabled>Please select</option>");
    while (reader.Read())
    {
        Response.Write("<option approver = '"+reader["app"].ToString()+"' value='" + reader["id"].ToString() + "'>");
        Response.Write(reader["job_title"].ToString());
        Response.Write("</option>");
    }
    reader.Close();
    database.Close();
%>