﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String email = Request.Form["email"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_user where email = '"+email+"'");
    if (reader.Read()) {        
        Response.Write("{");
        Response.Write("'status':'0'");
        Response.Write("}");
        reader.Close();
        database.Close();
        Response.End();
    }
    reader.Close();
    database.Close();
    database = new cotton.lib.MyDatabase();
    reader = database.Query("select * from v_employee where email = '"+email+"' and email <> ''");
    if (reader.Read())
    {
        Response.Write("{");
        Response.Write("'status':'1',");
        Response.Write("'name':'" + reader["FIRST_NAME"].ToString() + "',");
        String[] tmp = email.Split('@');
        Response.Write("'username':'" + tmp[0] + "',");
        Response.Write("'nip':'" + reader["EMPLID"].ToString() + "',");
        Response.Write("'grade':'" + reader["GRADE"].ToString() + "',");
        Response.Write("'noreg_lm':'" + reader["REPORTS_TO"].ToString() + "',");
        Response.Write("'password':'" + reader["PASSWORD"].ToString() + "'");
        Response.Write("}");
    }
    else {
        Response.Write("{");
        Response.Write("'status':'1',");
        Response.Write("'name':'',");
        String[] tmp = email.Split('@');
        Response.Write("'username':'" + tmp[0] + "',");
        Response.Write("'nip':'',");
        Response.Write("'grade':'',");
        Response.Write("'noreg_lm':'',");
        Response.Write("'password':''");
        Response.Write("}");
    }
    reader.Close();
    database.Close();
%>