﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select count(*) total from t_proposal_pricelist where on_behalf = '"+Session["id_on_behalf"].ToString()+"' and status in(2,3,4)");
    while (reader.Read())
    {
        Response.Write(reader["total"].ToString());
    }
    reader.Close();
    database.Close();
%>