﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    String sql = "";
    if (Session["id_job_title"].ToString() == "1")
    {
        sql = "select count(*) total from m_user  inner join m_job_title on id_job_title = m_job_title.id inner join r_user_status on r_user_status.id = m_user.status and m_user.status = '3'";
    }
    else if (Session["id_job_title"].ToString() == "14")
    {
        sql = "select count(*) total from m_user  inner join m_job_title on id_job_title = m_job_title.id inner join r_user_status on r_user_status.id = m_user.status where m_user.status = '2' or (noreg_lm = '"+Session["noreg"].ToString()+"' and m_user.status = '1')";
    }
    else {
        sql = "select count(*) total from m_user  inner join m_job_title on id_job_title = m_job_title.id inner join r_user_status on r_user_status.id = m_user.status where noreg_lm = '"+Session["noreg"].ToString()+"' and m_user.status = '1'";
    }
    System.Data.SqlClient.SqlDataReader reader = database.Query(sql);
    while (reader.Read())
    {
        Response.Write(reader["total"].ToString());
    }
    reader.Close();
    database.Close();
%>