﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select count(*) total from t_proposal_pricelist inner join r_proposal_status on r_proposal_status.id = status inner join t_approval on t_approval.id_proposal = t_proposal_pricelist.id where id_approver in("+Session["id_on_behalf"].ToString()+") and t_approval.status_approve = '0'");
    while (reader.Read())
    {
        Response.Write(reader["total"].ToString());
    }
    reader.Close();
    database.Close();
%>