﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select name from m_user where noreg = (select noreg_lm from m_user where id = '"+Session["id"].ToString()+"')");
    while (reader.Read())
    {
        Response.Write(reader["name"].ToString());
    }
    reader.Close();
    database.Close();
%>