﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select t_delegation.id,convert(varchar,datestart,103) start,convert(varchar,datestop,103) stop,m_user.name from t_delegation inner join m_user on m_user.id = id_delegate_to where t_delegation.id = '"+id+"'");
    while (reader.Read())
    {
        Response.Write("{");
        Response.Write("'name':'" + reader["name"] + "',");
        Response.Write("'start':'" + reader["start"] + "',");
        Response.Write("'stop':'" + reader["stop"] + "'");
        Response.Write("}");
    }
    reader.Close();
    database.Close();
%>