﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_proposal_remarks where id = '"+id+"'");
    while (reader.Read())
    {
        Response.Write("{");
        Response.Write("'remark':'" + reader["remark"].ToString().Trim() + "',");
        Response.Write("}");
    }
    reader.Close();
    database.Close();
%>