﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_approval where id = '"+id+"'");
    while (reader.Read())
    {
        Response.Write("{");
        Response.Write("'id_sales_org':'" + reader["id_sales_org"] + "',");
        Response.Write("'app_level':'" + reader["app_level"] + "',");
        Response.Write("'id_app_job_title':'" + reader["id_app_job_title"] + "',");
        Response.Write("'id_app_grade':'" + reader["id_app_grade"] + "'");
        Response.Write("}");
    }
    reader.Close();
    database.Close();
%>