﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    String id_sales_org = Request.Form["id_sales_org"].ToString();
    String app_level = Request.Form["app_level"].ToString();
    String id_app_job_title = Request.Form["id_app_job_title"].ToString();
    //String id_app_grade = "";
    if (id == "0")
    {
        cotton.lib.MyDatabase.FastExec("insert into m_approval(app_level,id_sales_org,id_app_job_title,created_by,created_date) values('" + app_level + "','" + id_sales_org + "','" + id_app_job_title + "','"+Session["id"].ToString()+"',getdate())");		
        cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_approval','0','Insert Data','"+Session["id"].ToString()+"',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
    }
    else {
        cotton.lib.MyDatabase.FastExec("update m_approval set app_level = '"+app_level+"', id_sales_org='" + id_sales_org + "',id_app_job_title= '"+id_app_job_title+"' where id = '"+id+"'");
        cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_approval','"+id+"','Update Data','"+Session["id"].ToString()+"',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
    }
%>