﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String division = Request.Form["division"].ToString();
    cotton.lib.MyDatabase.FastExec("delete from t_pricelist_detail where id_pricelist is null");
    cotton.lib.MyDatabase.FastExec("update t_proposal_detail set t_proposal_detail.vkorg = v_ers.VKORG,t_proposal_detail.divcd = v_ers.DIVCD, t_proposal_detail.divname = v_ers.DIVNM,t_proposal_detail.CATCD = v_ers.CATCD,t_proposal_detail.catnm = v_ers.catnm,t_proposal_detail.barcode = v_ers.EAN11 from t_proposal_detail inner join v_ers on v_ers.MATNR = sku where sku in(select MATNR from v_ers where DIVCD = '" + division + "') and status = '4'");
    cotton.lib.MyDatabase.FastExec("insert into t_pricelist_detail(id_proposal) select distinct t_proposal_detail.id_proposal from t_proposal_detail left join t_pricelist_detail on t_pricelist_detail.id_proposal = t_proposal_detail.id_proposal where sku in(select MATNR from v_ers where DIVCD = '"+division+"') and t_proposal_detail.status = '4' and t_pricelist_detail.id_pricelist is null");
    cotton.lib.MyDatabase.FastExec("update t_proposal_channel set t_proposal_channel.margin = (select isnull(margin,0) from m_mapping_channel_margin where m_mapping_channel_margin.id_channel = t_proposal_channel.id_channel and id_division = (select id from m_division where division_code = '" + division + "')) where id_proposal_detail in(select t_proposal_detail.id from t_proposal_detail inner join t_pricelist_detail on t_pricelist_detail.id_proposal = t_proposal_detail.id_proposal where id_pricelist is null)");    
    cotton.lib.MyDatabase.FastExec("update t_proposal_channel set t_proposal_channel.margin = 0 where id_proposal_detail in(select id_proposal_detail from t_pricelist_detail where id_pricelist is null) and margin is null");
%>