﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
	System.Data.SqlClient.SqlDataReader reader = database.Query("select id,convert(VARCHAR ,publish_date,103) publish_date,convert(VARCHAR ,effective_date,103) effective_date from m_callendar where publish_date >= getdate() order by publish_date asc");
	Response.Write("<option value='' selected disabled>Please select</option>");
	while (reader.Read())
	{
		Response.Write("<option value='"+reader["id"].ToString()+"'>" + reader["publish_date"] +  "</option>");
	}
	reader.Close();
    database.Close();
%>