﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString().Trim();
    cotton.lib.MyDatabase.FastExec("delete from m_mapping_area_channel where id_mapping_area = '"+id+"'; delete from m_mapping_area where id = '"+id+"'");
        cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_mapping_channel_area','"+id+"','Delete Data','"+Session["id"].ToString()+"',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
    Response.Write(id);
%>