﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
	String count_channel="0";
    cotton.lib.MyDatabase databaseCount = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader readerCount = databaseCount.Query("select cast(count(channel) as char) as count_channel from m_channel");
    readerCount.Read();
	count_channel = readerCount["count_channel"].ToString().Trim();
    readerCount.Close();
    databaseCount.Close();
	
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_channel order by id");
	Response.Write("<tr>");
	Response.Write("<th rowspan='2'>No</th>");
	Response.Write("<th rowspan='2'>Division</th>");
	Response.Write("<th rowspan='2'>Area</th>");
	Response.Write("<th rowspan='2'>Desc</th>");
	Response.Write("<th colspan='" + count_channel.ToString().Trim() + "'><center>Channel</center></th>");
	Response.Write("<th rowspan='2'>Action</th>");
	Response.Write("</tr>");
	Response.Write("<tr>");
    while (reader.Read())
    {
		Response.Write("<th style='text-align:center;'>" + reader["channel"] + "</th>");
    }
	Response.Write("</tr>");
    reader.Close();
    database.Close();
%>