﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_mapping_harga_batam where id = '"+id+"'");
    while (reader.Read())
    {
        Response.Write("{");
        Response.Write("'id_division':'" + reader["id_division"] + "',");
        Response.Write("'id_area':'" + reader["id_area"] + "',");
        Response.Write("'harga_batam':'" + reader["harga_batam"] + "'");
        Response.Write("}");
    }
    reader.Close();
    database.Close();
%>