﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    String id_division = Request.Form["id_division"].ToString();
    String id_area = Request.Form["id_area"].ToString();
    String harga_batam = Request.Form["harga_batam"].ToString();

    cotton.lib.MyDatabase db = new cotton.lib.MyDatabase();
    int count = 0;
    if (id == "0")
    {
        System.Data.SqlClient.SqlDataReader reader = db.Query("select TOP 1 id_division from m_mapping_harga_batam WHERE id_division = '"+id_division+"' ");
        while(reader.Read()){
            count++;
        }
        if (count == 0)
        {
            cotton.lib.MyDatabase.FastExec("insert into m_mapping_harga_batam(id_division,id_area,harga_batam,created_by,created_date) values('" + id_division + "','" + id_area + "','" + harga_batam + "','" + Session["id"].ToString() + "',getdate())");
            cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_mapping_harga_batam','0','Insert Data','" + Session["id"].ToString() + "',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
        }
        else {
            Response.Write("Warning!<br>Data duplicate.");
        }
    }
    else {
        System.Data.SqlClient.SqlDataReader reader = db.Query("select TOP 1 id_division from m_mapping_harga_batam WHERE id_division = '"+id_division+"' AND id != '" + id + "' ");
        while(reader.Read()){
            count++;
        }
        if (count == 0)
        {
            cotton.lib.MyDatabase.FastExec("update m_mapping_harga_batam set id_division = '" + id_division + "', id_area= '" + id_area + "', harga_batam= '" + harga_batam + "' where id = '" + id + "'");
            cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_mapping_harga_batam','" + id + "','Update Data','" + Session["id"].ToString() + "',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
        }
        else {
            Response.Write("Warning!<br>Data duplicate.");
        }
    }
%>