﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
	string sqlQuery = "";
	sqlQuery = "select top 1000 m_job_title.* from m_job_title";
    System.Data.SqlClient.SqlDataReader reader = database.Query(sqlQuery);
    while (reader.Read())
    {
        Response.Write("<tr>");
        Response.Write("<td>" + reader["job_title"] + "</td>");
        Response.Write("<td style='text-align:center'>");
        Response.Write("<a class='btnbtn btn-xs btn-primary' data-toggle='tooltip' title='Mapping' onclick='do_edit("+reader["id"].ToString()+")'><i class='fa fa-pencil'></i></a>");
        Response.Write("</td>");
        Response.Write("</tr>");
    }
    reader.Close();
    database.Close();
%>