﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
	String select_option = Request.Form["select_option"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
	if (select_option=="id_menu"){
		System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_menu where menu_parent <> 0");
		while (reader.Read())
		{
			Response.Write("<option value='"+reader["id"].ToString()+"'>" + reader["menu"] + "</option>");
		}
		reader.Close();
	}
    database.Close();
%>