﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select m_job_title.* from m_job_title where m_job_title.id = '"+id+"'");
    while (reader.Read())
    {
        Response.Write("{");
        Response.Write("'id':'" + reader["id"] + "',");
        Response.Write("'job_title':'" + reader["job_title"] + "',");
        Response.Write("'id_sales_org':'" + reader["id_sales_org"] + "',");
        Response.Write("'menu':{");
        cotton.lib.MyDatabase database2 = new cotton.lib.MyDatabase();
        System.Data.SqlClient.SqlDataReader reader2 = database2.Query("select m_mapping_menu.* from m_mapping_menu where m_mapping_menu.id_job_title = '"+id+"'");
        int i = 0;
        while (reader2.Read())
        {
            if (i == 0)
            {
                Response.Write("'id_menu_" + reader2["id_menu"] + "':'" + reader2["id_menu"] + "'");
            }
            else {
                Response.Write(",'id_menu_" + reader2["id_menu"] + "':'" + reader2["id_menu"] + "'");
            }
            i++;
        }
        reader2.Close();
        database2.Close();
        Response.Write("}");
        Response.Write("}");
    }
    reader.Close();
    database.Close();


%>