﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id_job_title = Request.Form["id"].ToString();
    String id_menu = Request.Form["id_menu"].ToString();
    string[] wordsMenu = id_menu.Split(',');
    
    cotton.lib.MyDatabase.FastExec("delete from m_mapping_menu where id_job_title='"+id_job_title+"' ");
    foreach (string val in wordsMenu)
    {
        cotton.lib.MyDatabase.FastExec("insert into m_mapping_menu(id_job_title,id_menu) values('"+ id_job_title +"','" + val + "')");
    }
%>