﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_approval_publish_proposal where id = '"+id+"'");
    while (reader.Read())
    {
        Response.Write("{");
        Response.Write("'app_days':'" + reader["app_days"] + "',");
        Response.Write("'id_app_job_title':'" + reader["id_app_job_title"] + "'");
        Response.Write("}");
    }
    reader.Close();
    database.Close();
%>