﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
	String select_option = Request.Form["select_option"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
	if (select_option=="id_app_job_title"){
		System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_job_title order by job_title");
		while (reader.Read())
		{
			Response.Write("<option value='"+reader["id"].ToString()+"'>" + reader["job_title"] + "</option>");
		}
		reader.Close();
	}
    database.Close();
%>