﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    String app_days = Request.Form["app_days"].ToString();
    String id_app_job_title = Request.Form["id_app_job_title"].ToString();
    if (id == "0")
    {
        cotton.lib.MyDatabase.FastExec("insert into m_approval_publish_proposal(app_days,id_app_job_title,created_by,created_date) values('" + app_days + "','" + id_app_job_title + "','"+Session["id"].ToString()+"',getdate())");		
        cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_approval_publish_proposal','0','Insert Data','"+Session["id"].ToString()+"',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
    }
    else {
        cotton.lib.MyDatabase.FastExec("update m_approval_publish_proposal set app_days='"+app_days+"', id_app_job_title= '"+id_app_job_title+"' where id = '"+id+"'");
        cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_approval_publish_proposal','"+id+"','Update Data','"+Session["id"].ToString()+"',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
    }
%>