﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    String id_sales_org = Request.Form["id_sales_org"].ToString();
    String channel = Request.Form["channel"].ToString().Trim();

    cotton.lib.MyDatabase db = new cotton.lib.MyDatabase();
    int count = 0;
    if (id == "0")
    {
        System.Data.SqlClient.SqlDataReader reader = db.Query("select TOP 1 channel from m_channel WHERE channel = '"+channel+"' ");
        while(reader.Read()){
            count++;
        }
        if (count == 0)
        {
            cotton.lib.MyDatabase.FastExec("insert into m_channel(id_sales_org,channel,created_by,created_date) values('" + id_sales_org + "','" + channel + "','" + Session["id"].ToString() + "',getdate())");
            cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_channel','0','Insert Data','" + Session["id"].ToString() + "',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
        }
        else {
            Response.Write("Warning!<br>Data duplicate.");
        }
    }
    else {
        System.Data.SqlClient.SqlDataReader reader = db.Query("select TOP 1 channel from m_channel WHERE channel = '"+channel+"' AND id != '" + id + "' ");
        while(reader.Read()){
            count++;
        }
        if (count == 0)
        {
            cotton.lib.MyDatabase.FastExec("update m_channel set  id_sales_org='" + id_sales_org + "',channel = '" + channel + "' where id = '" + id + "'");
            cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_channel','" + id + "','Update Data','" + Session["id"].ToString() + "',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
        }
        else {
            Response.Write("Warning!<br>Data duplicate.");
        }
    }
%>