﻿<section class="content-header">
    <h1>
        Activity Log
        <small>Log activity user</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">User</a></li>
        <li class="active">Activity Log</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Activity Log</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button onclick="download()" class="btn btn-primary"><i class="fa fa-download"></i> Export</button>
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Table</th>
                                <th>Action</th>
                                <th>Date</th>
                                <th>User</th>
                                <th>On Behalf</th>
                            </tr>
                        </thead>
                        <tbody id="table-body"></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
    	var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            url: "action/activity_log/get_data.aspx?sid=" + Math.random(),
        }).done(function (msg) {
			dialog.modal('hide');
            $("#table-body").html(msg);
            $("#table").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering":false,
                "info": true,
                "autoWidth": true,
                "scrollX": true
            });
        });
    });
    function download(id) {
        window.open('action/activity_log/download.aspx', '_blank');
    }
</script>