﻿<section class="content-header">
    <h1>
        Approve Edit Prcicelist
        <small>List edited pricelist</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Pricelist</a></li>
        <li class="active">Approve Edit Procelist</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Pricelist</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button id="btn-manage" data-toggle="modal" data-target="#modal-form" style="display:none"><i class="fa fa-plus"></i> Manage</button>
                    <table id="draft" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th rowspan="2">Pricelist Number</th>
                                <th rowspan="2">Proposal Number</th>
                                <th rowspan="2">SKU</th>
                                <th rowspan="2">Area</th>
                                <th colspan="3">Current Price</th>
                                <th colspan="3">Proposed Price</th>
                                <th rowspan="2">Action</th>
                            </tr>
                            <tr>
                                <th>Toko Price</th>
                                <th>Rsp Price</th>
                                <th>Ret Margin</th>
                                <th>Toko Price</th>
                                <th>Rsp Price</th>
                                <th>Ret Margin</th>
                            </tr>
                        </thead>
                        <tbody id="table-draft"></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
    	var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            url: "action/approve_edit_pricelist/get_data.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $("#table-draft").html(msg);
            $("#draft").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": true,
                "scrollX": true
            });
			dialog.modal('hide');
        });
    });
    function do_approve(id) {
        selected_id = id;
        bootbox.confirm("Are you sure want to approve this price ?", function (result) {
            if (result) {
                $.ajax({
                    method:"post",
                    url: "action/approve_edit_pricelist/approve.aspx?sid=" + Math.random(),
                    data: {id:selected_id}
                }).done(function (msg) {
                    go_menu("approve_edit_pricelist");
                });
            }
        });
    }
    function do_reject(id) {
        selected_id = id;
        bootbox.confirm("Are you sure want to reject this price ?", function (result) {
            if (result) {
                $.ajax({
                    method: "post",
                    url: "action/approve_edit_pricelist/reject.aspx?sid=" + Math.random(),
                    data: { id: selected_id }
                }).done(function (msg) {
                    go_menu("approve_edit_pricelist");
                });
            }
        });
    }
</script>