﻿<section class="content-header">
    <h1>
        Approval
        <small>Maintain master data Approval</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Master Data</a></li>
        <li class="active">Approval</li>
    </ol>
</section>

<div class="modal modal-default" id="modal-form">
    <div class="modal-dialog">
        <div class="modal-content">
		<form method="POST" id="form-add" onsubmit="do_update();return false;" >
            <div class="modal-header clr-primary modal-title">
                <button type="button" class="close close-tambah" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Approval</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-4">Sales Org</label>
                        <div class="col-md-8">
                            <select id="id_sales_org" class="form-control select2" style="width: 100%" autocomplete="on" required></select>
                            <div class="show-result show-result-nama no-margin"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-4">Approval Level</label>
                        <div class="col-md-8">
                            <input type="text" id="app_level" class="form-control" onkeyup="this.value = ThausandSeperatorNoDesimal(this.value);" placeholder="Approval Level" autocomplete="off" required>
                            <div class="show-result show-result-nik no-margin"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-4">Job Title</label>
                        <div class="col-md-8">
                            <select id="id_app_job_title" class="form-control select2" style="width: 100%" autocomplete="off"></select required>
                            <div class="show-result show-result-nama no-margin"></div>
                        </div>
                    </div>
                    <!--<div class="form-group col-md-12">
                        <label class="col-md-4">Grade</label>
                        <div class="col-md-8">
                            <select id="id_app_grade" class="form-control select2" style="width: 100%" autocomplete="off" required></select>
                            <div class="show-result show-result-nik no-margin"></div>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary pull-right" id="btn-submit">Save</button>
            </div>
		</form>
        </div>
    </div>
</div>
<div class="modal modal-default" id="modal-confirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clr-primary modal-title">
                <button type="button" class="close close-confirm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete Data</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        Are you sure want to delete <span id="data_name"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary pull-right" id="btn-submit-delete" onclick="confirm_delete()">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Approval</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button class="btn btn-primary" onclick="do_add()"><i class="fa fa-plus"></i> Add</button>
                    <button id="btn-manage" data-toggle="modal" data-target="#modal-form" style="display:none"><i class="fa fa-plus"></i> Manage</button>
                    <button id="btn-delete" data-toggle="modal" data-target="#modal-confirm" style="display:none"><i class="fa fa-plus"></i> Hapus</button>
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sales Org</th>
                                <th>Approval Level</th>
                                <th>Job Title</th>
								<!--<th>Grade</th>-->
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">                     
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
    	var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            url: "action/approval/get_data.aspx?id="+Math.random(),
        }).done(function (msg) {
            $("#table-body").html(msg);
            $("#table").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering":false,
                "info": true,
                "autoWidth": true,
                "scrollX": true
            });
			dialog.modal('hide');
        });
        $.ajax({
            method: "POST",
            url: "action/approval/get_data_selection.aspx",
            data: { select_option: "id_sales_org" }
        }).done(function (msg) {
            $("#id_sales_org").html(msg);
        });
		$.ajax({
			method: "POST",
            url: "action/approval/get_data_selection.aspx",
			data: { select_option: "id_app_job_title" }
        }).done(function (msg) {
            $("#id_app_job_title").html(msg);
        });
        //$.ajax({
        //    method: "POST",
        //    url: "action/approval/get_data_selection.aspx",
        //    data: { select_option: "id_app_grade" }
        //}).done(function (msg) {
        //    $("#id_app_grade").html(msg);
        //});
        $("select").select2({
            placeholder: "Please Select",
            allowClear: true
        });
    });
    function do_add(){
        selected_id = 0;
        $("#id_sales_org").val("").trigger("change");
        $("#app_level").val("");
        $("#id_app_job_title").val("").trigger("change");
        //$("#id_app_grade").val("").trigger("change");
        $("#btn-manage").click();
    }
    function do_edit(id) {
        selected_id = id;
        $.ajax({
            method: "POST",
            url: "action/approval/get_data_form.aspx",
            data: { id: selected_id }
        }).done(function (msg) {
            data = eval('(' + msg + ')');
            $("#id_sales_org").val(data.id_sales_org).trigger("change");
            $("#app_level").val(data.app_level);
            $("#id_app_job_title").val(data.id_app_job_title).trigger("change");
            //$("#id_app_grade").val(data.id_app_grade).trigger("change");
            $("#btn-manage").click();
        });
    }
    function do_update() {
        $("#btn-submit").html('<i class="fa fa-circle-o-notch fa-spin"></i> Updating . . . ');
        $(".btn").attr("disabled", true);
		if($("#id_sales_org").val() =="") {bootbox.alert("Please fill column Sales Org !"); return; }
		if($("#app_level").val() =="") {bootbox.alert("Please fill column Sales Org !"); return; }
		if($("#id_app_job_title").val() =="") {bootbox.alert("Please fill column Sales Org !"); return; }
		//if($("#id_app_grade").val() =="") {bootbox.alert("Please fill column Sales Org !"); return; }
        $.ajax({
            method: "POST",
            url: "action/approval/update.aspx",
            data: { id: selected_id, id_sales_org: $("#id_sales_org").val(), app_level: convertToNumber($("#app_level").val()), id_app_job_title: $("#id_app_job_title").val() }
        }).done(function (msg) {
            $(".btn").attr("disabled", false);
            $("#btn-submit").html("Simpan");
            $(".close-tambah").click();
            go_menu('approval');
        });
    }
    function do_delete(id, name) {
        selected_id = id;
        $("#data_name").html(name);
        $("#btn-delete").click();
    }
    function confirm_delete() {
        $("#btn-submit-delete").html('<i class="fa fa-circle-o-notch fa-spin"></i> Loading . . . ');
        $(".btn").attr("disabled", true);
        $.ajax({
            method: "POST",
            url: "action/approval/delete.aspx",
            data: { id: selected_id }
        }).done(function (msg) {
            $(".btn").attr("disabled", false);
            $("#btn-submit-delete").html("Delete");
            $(".close-confirm").click();
            go_menu('approval');
        });
    }
</script>