﻿<style>
    ul {
        list-style-type: none;
    }

    .border {
        margin-left: 5px;
        padding-left: 20px;
        border-left: dotted 1px #DDD;
    }

    li {
        cursor: pointer;
    }
</style>

<section class="content-header">
    <h1>
        Authorization
        <small>Change user authorization</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">User</a></li>
        <li class="active">User Authorization</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">User Information</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-5">
                            <form method="post" onsubmit="do_update();return false">
                                <div class="form-group col-md-12">
                                    <label class="col-md-4">Email</label>
                                    <div class="col-md-8">
                                        <input type="text" id="email" class="form-control" placeholder="Email" autocomplete="off" readonly>
                                        <div class="show-result show-result-nama no-margin"></div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-4">Username</label>
                                    <div class="col-md-8">
                                        <input type="text" id="username" class="form-control" placeholder="Username" autocomplete="off" readonly>
                                        <input type="hidden" id="password" class="form-control" placeholder="Username" autocomplete="off" readonly>
                                        <div class="show-result show-result-nama no-margin"></div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-4">Name</label>
                                    <div class="col-md-8">
                                        <input type="text" id="name" class="form-control" placeholder="Name" autocomplete="off" readonly>
                                        <div class="show-result show-result-nama no-margin"></div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-4">Nip</label>
                                    <div class="col-md-8">
                                        <input type="text" id="nip" class="form-control" placeholder="Nip" autocomplete="off" readonly>
                                        <div class="show-result show-result-nama no-margin"></div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-4">Sales Org</label>
                                    <input type="hidden" id="id_sales_org" value="" />
                                    <div class="col-md-8">
                                        <select class="form-control" id="sales_org" onchange="load_division()" required></select>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-md-4">Job Title</label>
                                    <input type="hidden" id="id_job_title" value="" />
                                    <div class="col-md-8">
                                        <select class="form-control" id="job_title" onchange="load_division()" required></select>
                                    </div>
                                    <input type="hidden" id="noreg_lm" />
                                    <input type="hidden" id="grade" />
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <button type="submit" class="btn btn-primary btn-block btn-flat btn-auth">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group has-feedback">
                                <label for="pass" id="div_label">Division</label>
                                <span id="list_division">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    $(function () {
        $.ajax({
            method: "POST",
            url: "action/user/get_data_form.aspx?sid=" + Math.random()
        }).done(function (msg) {
            data = eval('(' + msg + ')');
            $("#email").val(data.email);
            $("#username").val(data.username);
            $("#password").val(data.password);
            $("#name").val(data.name);
            $("#nip").val(data.nip);
            $("#id_job_title").val(data.id_job_title);
            $("#id_sales_org").val(data.id_sales_org);
            $("#grade").val(data.grade);
            $("#noreg_lm").val(data.noreg_lm);
            $.ajax({
                method: "POST",
                url: "action/register/list_jobtitle.aspx?sid="+Math.random(),
                data: { email: $("#email").val() }
            }).done(function (msg) {
                $("#job_title").html(msg);
                $("#job_title").val($("#id_job_title").val());
            });
            $.ajax({
                method: "POST",
                url: "action/register/list_sales_org.aspx?sid="+Math.random()
            }).done(function (msg) {
                $("#sales_org").html(msg)
                $("#sales_org").val($("#id_sales_org").val());
                load_division();
            });
        });
    });
    function load_division() {
        $("#list_division").html("Loading Data . . .")
        $.ajax({
            method: "POST",
            url: "action/user/list_user_segments.aspx",
            data: { sales_org: $("#sales_org option:selected").html() }
        }).done(function (msg) {
            $("#list_division").html(msg)
        });
    }
    function load_category(division) {
        if (document.getElementById(division).checked) {
            $("#list_category_" + division).html("Loading Data . . .")
            $.ajax({
                method: "POST",
                url: "action/register/list_category.aspx",
                data: { DIVCD: division, sales_org: $("#sales_org option:selected").html() }
            }).done(function (msg) {
                $("#list_category_" + division).html(msg)
            });
            $("#div_label").html("Division - Category")
        } else {
            $("#list_category_" + division).html("");
            $("#div_label").html("Division")
        }
    }
    function load_brand(categori) {
        if (document.getElementById(categori).checked) {
            $("#div_label").html("Division - Category - Brand")
            $("#list_brand_" + categori).html("Loading Data . . .")
            $.ajax({
                method: "POST",
                url: "action/register/list_brand.aspx",
                data: { CATCD: categori, sales_org: $("#sales_org option:selected").html(),id_job_title:$("#job_title").val() }
            }).done(function (msg) {
                $("#list_brand_" + categori).html(msg)
            });
        } else {
            $("#list_brand_" + categori).html("")
            $("#div_label").html("Division - Category")
        }
    }
    function load_segment(brand) {
        if (document.getElementById(brand).checked) {
            $("#list_segment_" + brand).html("Loading Data . . .")
            $.ajax({
                method: "POST",
                url: "action/register/list_segment.aspx",
                data: { BRNCD: brand, sales_org: $("#sales_org option:selected").html() }
            }).done(function (msg) {
                $("#list_segment_" + brand).html(msg)
            });

            $("#div_label").html("Division - Category - Brand - Segments")
        } else {
            $("#list_segment_" + brand).html("")
            $("#div_label").html("Division - Category - Brand")
        }
    }
    function do_update() {
        var segments = $("input[name='SECNM']:checkbox:checked").map(function () {
            return this.value;
        }).get().join(",");
        name = "";
        $("input[name='BRNNM']:checkbox:checked").each(function () {
            if ($(this).attr("user") != "") {
                name = $(this).attr("user");
            }
        });
        if (name != "") {
            if ($("#job_title option:selected").attr("approver") == "0") {
                var r = confirm("Duplicate brand with user " + name + ", Are you sure?");
                if (r == true) {
                    $(".btn-auth").html('<i class="fa fa-circle-o-notch fa-spin"></i> Checking . . . ');
                    $(".btn").attr("disabled", true);
                    $.ajax({
                        method: "POST",
                        url: "action/user/update.aspx",
                        data: {
                            email: $("#email").val(),
                            username: $("#username").val(),
                            password: $("#password").val(),
                            name: $("#name").val(),
                            nip: $("#nip").val(),
                            job_title: $("#job_title").val(),
                            sales_org: $("#sales_org").val(),
                            grade: $("#grade").val(),
                            noreg_lm: $("#noreg_lm").val(),
                            segments: segments
                        }
                    }).done(function (msg) {
                        data = eval('(' + msg + ')');
                        if (data.status == 1) {
                            if (data.total > 1) {
                                bootbox.alert("Your request has been received. Please wait admin confirmation for your new authorization")
                            }
                            go_menu('authorization');
                        } else {
                            bootbox.alert(data.msg);
                            $(".btn-auth").html('Update');
                            $(".btn").attr("disabled", false);
                        }
                    });
                } else {
                }
            } else {
                alert("Duplicate brand with user " + name)
            }
        } else {
            $(".btn-auth").html('<i class="fa fa-circle-o-notch fa-spin"></i> Checking . . . ');
            $(".btn").attr("disabled", true);
            $.ajax({
                method: "POST",
                url: "action/user/update.aspx",
                data: {
                    email: $("#email").val(),
                    username: $("#username").val(),
                    password: $("#password").val(),
                    name: $("#name").val(),
                    nip: $("#nip").val(),
                    job_title: $("#job_title").val(),
                    sales_org: $("#sales_org").val(),
                    grade: $("#grade").val(),
                    noreg_lm: $("#noreg_lm").val(),
                    segments: segments
                }
            }).done(function (msg) {
                data = eval('(' + msg + ')');
                if (data.status == 1) {
                    if (data.total > 1) {
                        bootbox.alert("Your request has been received. Please wait admin confirmation for your new authorization")
                    }
                    go_menu('authorization');
                } else {
                    bootbox.alert(data.msg);
                    $(".btn-auth").html('Update');
                    $(".btn").attr("disabled", false);
                }
            });
        }
    }
</script>