﻿<section class="content-header">
    <h1>
        Dashboard
        <small>Dashboard for user</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">>Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box" onclick="go_menu('publish_pricelist')">
                <span class="info-box-icon bg-aqua"><i class="fa fa-dollar"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Unpublished Pricelist</span>
                    <span class="info-box-number"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
        $.ajax({
            url: "action/dashboard/get_unpublished.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $(".info-box-number").html(msg);
        });
    });
</script>