﻿<section class="content-header">
    <h1>
        Dashboard
        <small>Dashboard for user</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box" onclick="go_menu('list_proposal')">
                <span class="info-box-icon bg-aqua"><i class="fa fa-dashboard"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Draft</span>
                    <span class="info-box-number  info-draft"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box" onclick="go_menu('list_proposal')">
                <span class="info-box-icon bg-aqua"><i class="fa fa-dashboard"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Recalled</span>
                    <span class="info-box-number  info-recalled"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box" onclick="go_menu('list_proposal')">
                <span class="info-box-icon bg-aqua"><i class="fa fa-dashboard"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Declined</span>
                    <span class="info-box-number info-declined"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box" onclick="go_menu('list_proposal')">
                <span class="info-box-icon bg-aqua"><i class="fa fa-dashboard"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Ongoing</span>
                    <span class="info-box-number info-ongoing"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
        $.ajax({
            url: "action/dashboard/get_draft.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $(".info-draft").html(msg);
        });
        $.ajax({
            url: "action/dashboard/get_recalled.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $(".info-recalled").html(msg);
        });
        $.ajax({
            url: "action/dashboard/get_declined.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $(".info-declined").html(msg);
        });
        $.ajax({
            url: "action/dashboard/get_ongoing.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $(".info-ongoing").html(msg);
        });
    });
</script>