﻿<section class="content-header">
    <h1>
        Delegate
        <small>Delegate user</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">User</a></li>
        <li class="active">Delegate</li>
    </ol>
</section>

<div class="modal modal-default" id="modal-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" onsubmit="do_update();return false">
                <div class="modal-header clr-primary modal-title">
                    <button type="button" class="close close-tambah" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Delegate</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-4">User</label>
                            <div class="col-md-8">
                                <input type="text" id="user" class="form-control" placeholder="User" autocomplete="off" readonly>
                                <div class="show-result show-result-nama no-margin"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4">Start</label>
                            <div class="col-md-8">
                                <input type="text" id="start" class="form-control" placeholder="Date Start" autocomplete="off" required>
                                <div class="show-result show-result-nik no-margin"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4">Stop</label>
                            <div class="col-md-8">
                                <input type="text" id="stop" class="form-control" placeholder="Date Stop" autocomplete="off" required>
                                <div class="show-result show-result-nik no-margin"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-right" id="btn-submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Delegation</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button class="btn btn-primary" onclick="do_add()"><i class="fa fa-plus"></i> Add</button>
                    <button id="btn-manage" data-toggle="modal" data-target="#modal-form" style="display:none"><i class="fa fa-plus"></i> Manage</button>
                    <button id="btn-delete" data-toggle="modal" data-target="#modal-confirm" style="display:none"><i class="fa fa-plus"></i> Hapus</button>
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Start</th>
                                <th>Stop</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-body"></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
		var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            url: "action/delegate/get_data.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $("#table-body").html(msg);
            $("#table").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering":false,
                "info": true,
                "autoWidth": true,
                "scrollX": true
            });
			dialog.modal('hide');
        });
        $.ajax({
            url: "action/delegate/get_user_lm.aspx",
        }).done(function (msg) {
            $("#user").val(msg);
        });

        $('#start').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });

        $('#stop').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });
    });
    function do_add(){
        selected_id = 0;
        $("#start").val("");
        $("#stop").val("");
        $("#btn-manage").click();
    }
    function do_edit(id) {
        selected_id = id;
        $.ajax({
            method: "POST",
            url: "action/delegate/get_data_form.aspx",
            data: { id: selected_id }
        }).done(function (msg) {
            data = eval('(' + msg + ')');
            $("#start").val(data.start);
            $("#stop").val(data.stop);
            $("#btn-manage").click();
        });
    }
    function do_update() {
        $("#btn-submit").html('<i class="fa fa-circle-o-notch fa-spin"></i> Updating . . . ');
        $(".btn").attr("disabled", true);
        $.ajax({
            method: "POST",
            url: "action/delegate/update.aspx",
            data: { id: selected_id, start: $("#start").val(), stop: $("#stop").val() }
        }).done(function (msg) {
            data = eval('(' + msg + ')');
            if (data.status == 1) {
                $(".btn").attr("disabled", false);
                $("#btn-submit").html("Simpan");
                $(".close-tambah").click();
                go_menu('delegate');
            } else {
                bootbox.alert(data.msg);
                $(".btn").attr("disabled", false);
                $("#btn-submit").html("Save");
            }
        });
    }
    function do_delete(id, name) {
        selected_id = id;
        bootbox.confirm("Are you sure want to delete this item", function (result) {
            if (result) {
                $.ajax({
                    method: "POST",
                    url: "action/delegate/delete.aspx",
                    data: { id: selected_id }
                }).done(function (msg) {
                    $(".close-confirm").click();
                    go_menu('delegate');
                });
            }
        });
    }
</script>