<section class="content-header">
    <h1>
        Double Role in Segments
        <small>Maintain duplicated/double role in same segment</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">User</a></li>
        <li class="active">Double Role in Segments</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Segments</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button class="btn btn-primary" onclick="export_to_excel()"><i class="fa fa-download"></i> Export to Excel</button>
                    <table id="table" class="table table-bordered table-hover">
                        <thead id="table-head">
                            <tr>
                                <th>Segment Code</th>
                                <th>Segment Name</th>
                                <th>Brand Code</th>
                                <th>Brand Name</th>
                                <th>Job Title</th>
                                <th>User Name</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">                     
                        </tbody>
                    </table>
                    <table id='table-export' border='2px' style='display:none' class='table table-bordered table-hover' ></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    $(function () {
		var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            url: "action/double_role_segments/get_data.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $("#table-body").html(msg);
            $("#table").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering":false,
                "info": true,
                "autoWidth": false,
                "scrollX": true
            });
			dialog.modal('hide');
        });
    });
    function export_to_excel() {
        window.open('action/double_role_segments/download.aspx', '_blank');
    }

</script>