﻿<section class="content-header">
    <h1>
        Download Cotton Calendar
        <small>Download master data cotton calendar</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Master Data</a></li>
        <li class="active">Download Cotton Calendar</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Cotton Calendar</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-body"></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    $(function () {
		var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            url: "action/download_calendar/get_data.aspx?sid="+Math.random(),
        }).done(function (msg) {
            $("#table-body").html(msg);
            $("#table").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering":false,
                "info": true,
                "autoWidth": true,
                "scrollX": true
            });
			dialog.modal('hide');
        });
    });
    function download(year) {
        window.open('action/download_calendar/download.aspx?year=' + year, '_blank');
    }
</script>