﻿<section class="content-header">
    <h1>
        Edit Pricelist
        <small>List published pricelist</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Pricelist</a></li>
        <li class="active">Edit Pricelist</li>
    </ol>
</section>
<div class="modal modal-default" id="modal-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clr-primary modal-title">
                <button type="button" class="close close-tambah" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">List Proposal</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <table id="table_proposal" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Proposal Number</th>
                                    <th>Subject</th>
                                    <th>Tanggal</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="table-proposal">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Pricelist</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button id="btn-manage" data-toggle="modal" data-target="#modal-form" style="display:none"><i class="fa fa-plus"></i> Manage</button>
                    <table id="draft" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Pricelist Number</th>
                                <th>Tanggal</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-draft"></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
		var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            url: "action/edit_pricelist/get_data.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $("#table-draft").html(msg);
            $("#draft").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": true,
                "scrollX": true
            });
			dialog.modal('hide');
        });
    });
    function do_edit(id) {
        $.ajax({
            method:"post",
            url: "action/edit_pricelist/get_data_proposal.aspx?sid=" + Math.random(),
            data: {id:id}
        }).done(function (msg) {
            $("#table-proposal").html(msg);
            $("#btn-manage").click();
        });
    }
    function do_edit_proposal(id, status) {
        $("#global_id").val(id);
        $("#global_status").val(status);
        $.ajax({
            method: "POST",
            url: "action/proposal/prepare_to_edit.aspx",
            data: { id: id }
        }).done(function (msg) {
            $(".close-tambah").click();
            go_menu("proposal_new");
        });
    }
</script>