﻿<section class="content-header">
    <h1>
        Exception SKU
        <small>Maintain master data Exception Mapping SKU to Channel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Master Data</a></li>
        <li class="active">Exception SKU</li>
    </ol>
</section>

<div class="modal modal-default" id="modal-form">
    <div class="modal-dialog">
        <div class="modal-content">
		<form method="POST" id="form-add" onsubmit="do_update();return false;" >
            <div class="modal-header clr-primary modal-title">
                <button type="button" class="close close-tambah" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Exception SKU</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-4">SKU Code</label>
                        <div class="col-md-8">
                            <select id="sku_code" class="form-control select2" style="width: 100%" autocomplete="on"></select>
                            <div class="show-result show-result-nik no-margin"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-4">Channel</label>
						<div class="col-md-8">
						    <input type="hidden" id="selected_channel" class="form-control" placeholder="selected_channel" autocomplete="off" required>
                            <div id="channel-list"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary pull-right" id="btn-submit">Save</button>
            </div>
		</form>
        </div>
    </div>
</div>

<div class="modal modal-default" id="modal-form-upload">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" id="form-upload" enctype="multipart/form-data" onsubmit="do_upload_file(); return false;">
                <div class="modal-header clr-primary modal-title">
                    <button type="button" class="close close-upload" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Upload Exception SKU</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-4">Upload File</label>
                            <div class="col-md-8">
                                <input type="hidden" id="upload_file" value="" />
                                <input type="file" style="display:none" onchange="" name="file-upload_file" id="file-upload_file" class="form-control" autocomplete="off" accept=".xls,.xlsx">
                                <button type="button" class="btn btn-primary btn-md" onclick="$('#file-upload_file').click()"><i class="fa fa-upload"></i>&nbsp;Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-right" id="btn-submit-upload">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal modal-default" id="modal-confirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clr-primary modal-title">
                <button type="button" class="close close-confirm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete Data</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        Are you sure want to delete <span id="data_name"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary pull-right" id="btn-submit-delete" onclick="confirm_delete()">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Mapping Exception SKU to Channel</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button class="btn btn-primary" onclick="do_add()"><i class="fa fa-plus"></i> Add</button>
                    <button class="btn btn-primary" onclick="do_upload()"><i class="fa fa-upload"></i> Upload</button>
                    <button id="btn-manage" data-toggle="modal" data-target="#modal-form" style="display:none"><i class="fa fa-plus"></i> Manage</button>
                    <button id="btn-upload" data-toggle="modal" data-target="#modal-form-upload" style="display:none"><i class="fa fa-plus"></i> Upload</button>
                    <button id="btn-delete" data-toggle="modal" data-target="#modal-confirm" style="display:none"><i class="fa fa-plus"></i> Hapus</button>
                    <table id="table" class="table table-bordered table-hover">
                        <thead id="table-head"> 
                        </thead>
                        <tbody id="table-body">                     
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
		var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            url: "action/exception_sku/get_data_thead.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $("#table-head").html(msg);
            $.ajax({
                url: "action/exception_sku/get_data.aspx?sid=" + Math.random(),
            }).done(function (msg) {
                $("#table-body").html(msg);
                $("#table").DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering":false,
                    "info": true,
                    "autoWidth": true,
                    "scrollX": true
                });
				dialog.modal('hide');
            });
        });
        
        $.ajax({
            method: "POST",
            url: "action/exception_sku/get_data_selection.aspx",
            data: { select_option: "sku_code" }
        }).done(function (msg) {
            $("#sku_code").html(msg);
        });
        $("select").select2({
            placeholder: "Please Select",
            allowClear: true
        });
    });
    function do_add(){
        selected_id = 0;
        $("#sku_code").val("").trigger("change");
        $.ajax({
            method: "POST",
            url: "action/exception_sku/get_data_selection.aspx",
            data: { select_option: "id_channel" }
        }).done(function (msg) {
            $("#channel-list").html(msg);
        });
        $("#btn-manage").click();
    }
    function do_upload() {
        selected_id = 0;
        $("#btn-upload").click();
    }
    function do_upload_file() {
        files = document.getElementById("file-upload_file").files;
        var data = new FormData();
        $.each(files, function (key, value) {
            data.append(key, value);
        });
        $("#btn-submit-upload").html('<i class="fa fa-circle-o-notch fa-spin"></i> Uploading . . . ');
        $(".btn").attr("disabled", true);
        $.ajax({
            url: 'action/exception_sku/upload.aspx',
            type: 'POST',
            data: data,
            cache: false,
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            success: function (data) {
                $("#upload_file").val(data);
                $("#btn-submit-upload").html('Save');
                $(".btn").attr("disabled", false);
                $(".close-upload").click();
                go_menu('exception_sku');
            }
        });
    }
    function do_edit(id) {
        selected_id = id;
        $.ajax({
            method: "POST",
            url: "action/exception_sku/get_data_form.aspx",
            data: { id: selected_id, select_option: "edit" }
        }).done(function (msg) {
            data = eval('(' + msg + ')');
            $("#sku_code").val(data.sku_code).trigger("change");
            $.ajax({
                method: "POST",
                url: "action/exception_sku/get_data_form.aspx",
                data: { id: selected_id, select_option: "id_channel" }
            }).done(function (msg) {
                $("#channel-list").html(msg);
            });
            $("#btn-manage").click();
        });
    }
    function do_update() {
        $("#btn-submit").html('<i class="fa fa-circle-o-notch fa-spin"></i> Updating . . . ');
        $(".btn").attr("disabled", true);
        var selected_channel = "";
        
        if ($("#sku_code").val() == "" || $("#sku_code").val() == null) {
            bootbox.alert("Please select an item in the list");
            $(".btn").attr("disabled", false);
            $("#btn-submit").html('Save');
            return false;
        }
        $.ajax({
            method: "POST",
            url: "action/exception_sku/get_data_selection.aspx",
            data: { select_option: "id_channel_arr" }
        }).done(function (msg) {
            var res = msg.split(",");
            for (var i in res){
                if(res[i]!="none"){
                    if(document.getElementById("id_channel"+res[i]).checked) {
                        selected_channel=selected_channel+","+res[i];
                    }
                }
            }
            $("#selected_channel").val(selected_channel);
            $.ajax({
                method: "POST",
                url: "action/exception_sku/update.aspx",
                data: { id: selected_id, sku_code: $("#sku_code").val(), selected_channel: $("#selected_channel").val() }
            }).done(function (msg) {
                $(".btn").attr("disabled", false);
                $("#btn-submit").html("Simpan");
                $(".close-tambah").click();
                go_menu('exception_sku');
            });
        });
    }
    function do_delete(id, name) {
        selected_id = id;
        $("#data_name").html(name);
        $("#btn-delete").click();
    }
    function confirm_delete() {
        $("#btn-submit-delete").html('<i class="fa fa-circle-o-notch fa-spin"></i> Loading . . . ');
        $(".btn").attr("disabled", true);
        $.ajax({
            method: "POST",
            url: "action/exception_sku/delete.aspx",
            data: { id: selected_id }
        }).done(function (msg) {
            $(".btn").attr("disabled", false);
            $("#btn-submit-delete").html("Delete");
            $(".close-confirm").click();
            go_menu('exception_sku');
        });
    }
</script>