﻿<section class="content-header">
    <h1>
        List Proposal
        <small>List Proposal</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Proposal</a></li>
        <li class="active">List Proposal</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Draft</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="draft" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Proposal Number</th>
                                <th>Subject</th>
                                <th>Tanggal</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-draft">                     
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Declined & Recalled</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="decline" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Proposal Number</th>
                                <th>Subject</th>
                                <th>Tanggal</th>
                                <th>Status</th>
                                <th>Declined By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-decline"></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">On Going</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="submited" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Proposal Number</th>
                                <th>Subject</th>
                                <th>Tanggal</th>
                                <th>Status</th>
                                <th>Pending Action By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-submited"></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Fully Approve</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="fully" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Proposal Number</th>
                                <th>Subject</th>
                                <th>Tanggal</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-fully"></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Published</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="published" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Proposal Number</th>
                                <th>Subject</th>
                                <th>Tanggal</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-published"></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
		var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            url: "action/proposal/get_data_proposal_draft.aspx?sid="+Math.random(),
        }).done(function (msg) {
            $("#table-draft").html(msg);
            $("#draft").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": true,
                "scrollX": true
            });
            $.ajax({
                url: "action/proposal/get_data_proposal_declined.aspx?sid=" + Math.random(),
            }).done(function (msg) {
                $("#table-decline").html(msg);
                $("#decline").DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering": false,
                    "info": true,
                    "autoWidth": true,
                    "scrollX": true
                });
                $.ajax({
                    url: "action/proposal/get_data_proposal_submited.aspx?sid=" + Math.random(),
                }).done(function (msg) {
                    $("#table-submited").html(msg);
                    $("#submited").DataTable({
                        "paging": true,
                        "lengthChange": false,
                        "searching": true,
                        "ordering": false,
                        "info": true,
                        "autoWidth": true,
                        "scrollX": true
                    });
                    $.ajax({
                        url: "action/proposal/get_data_proposal_fully.aspx?sid=" + Math.random(),
                    }).done(function (msg) {
                        $("#table-fully").html(msg);
                        $("#fully").DataTable({
                            "paging": true,
                            "lengthChange": false,
                            "searching": true,
                            "ordering": false,
                            "info": true,
                            "autoWidth": true,
                            "scrollX": true
                        });
                        $.ajax({
                            url: "action/proposal/get_data_proposal_published.aspx?sid=" + Math.random(),
                        }).done(function (msg) {
                            $("#table-published").html(msg);
                            $("#published").DataTable({
                                "paging": true,
                                "lengthChange": false,
                                "searching": true,
                                "ordering": false,
                                "info": true,
                                "autoWidth": true,
                                "scrollX": true
                            });
							dialog.modal('hide');
                        });
                    });
                });
            });
        });
    });
    function do_view(id) {
        $("#global_id").val(id);
        $("#global_status").val(100);
        $.ajax({
            method: "POST",
            url: "action/proposal/prepare_to_edit.aspx",
            data: {id:id}
        }).done(function (msg) {
            go_menu("proposal_new");
        });
    }
    function do_edit(id, status) {
        $("#global_id").val(id);
        $("#global_status").val(status);
        $.ajax({
            method: "POST",
            url: "action/proposal/prepare_to_edit.aspx",
            data: { id:id }
        }).done(function (msg) {
            go_menu("proposal_new");
        });
    }
    function do_delete(id,number) {
        bootbox.confirm("Are you sure want to delete this proposal?", function (result) {
            $(".btn").attr("disabled", true);
            $.ajax({
                method: "POST",
                url: "action/proposal/delete_proposal.aspx",
                data: { id:id }
            }).done(function (msg) {
                go_menu('list_proposal');
            });
        });
    }
</script>