﻿<section class="content-header">
    <h1>
        LSR Mapping to Division
        <small>Maintain master data LSR Mapping to Division</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Master Data</a></li>
        <li class="active">LSR Mapping to Division</li>
    </ol>
</section>

<div class="modal modal-default" id="modal-form">
    <div class="modal-dialog">
        <div class="modal-content">
		<form method="POST" id="form-add" onsubmit="do_update();return false;" >
            <div class="modal-header clr-primary modal-title">
                <button type="button" class="close close-tambah" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">LSR Mapping to Division</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-4">Local Sales Region 3</label>
                        <div class="col-md-8">
                            <select id="id_sales_region" class="form-control select2" style="width: 100%" autocomplete="on"></select>
                            <div class="show-result show-result-nama no-margin"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-12">Division - Area</label>
                    </div>
                    <input type="hidden" id="id_division_arr" class="form-control" autocomplete="off" required>
					<input type="hidden" id="id_area_arr" class="form-control" autocomplete="off" required>
                    <div id="area-list"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary pull-right" id="btn-submit">Save</button>
            </div>
		</form>
        </div>
    </div>
</div>
<div class="modal modal-default" id="modal-confirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clr-primary modal-title">
                <button type="button" class="close close-confirm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete Data</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        Are you sure want to delete <span id="data_name"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary pull-right" id="btn-submit-delete" onclick="confirm_delete()">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data LSR Mapping to Division</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button class="btn btn-primary" onclick="do_add()"><i class="fa fa-plus"></i> Add</button>
                    <button id="btn-manage" data-toggle="modal" data-target="#modal-form" style="display:none"><i class="fa fa-plus"></i> Manage</button>
                    <button id="btn-delete" data-toggle="modal" data-target="#modal-confirm" style="display:none"><i class="fa fa-plus"></i> Hapus</button>
                    <table id="table" class="table table-bordered table-hover">
                        <thead id="table-head"> 
                        </thead>
                        <tbody id="table-body">                     
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
		var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            url: "action/lsr_mapping_to_division/get_data_thead.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $("#table-head").html(msg);
			$.ajax({
				url: "action/lsr_mapping_to_division/get_data.aspx?sid="+ Math.random(),
			}).done(function (msg) {
				$("#table-body").html(msg);
				$("#table").DataTable({
					"paging": true,
					"lengthChange": false,
					"searching": true,
					"ordering":false,
					"info": true,
					"autoWidth": true,
					"scrollX": true
				});
				dialog.modal('hide');
			});
        });
        $.ajax({
            method: "POST",
            url: "action/lsr_mapping_to_division/get_data_selection.aspx",
            data: { select_option: "id_sales_region" }
        }).done(function (msg) {
            $("#id_sales_region").html(msg);
        });
        
        $("select").select2({
            placeholder: "Please Select",
            allowClear: true
        });
    });
    function do_add(){
        selected_id = 0;
        $("#id_sales_region").val("").trigger("change");
		$.ajax({
			method: "POST",
            url: "action/lsr_mapping_to_division/get_data_selection.aspx",
			data: { select_option: "area-list" }
		}).done(function (msg) {
            $("#area-list").html(msg);
        });
        $("#btn-manage").click();
    }
    function do_edit(id) {
        selected_id = id;
        $.ajax({
            method: "POST",
            url: "action/lsr_mapping_to_division/get_data_form.aspx",
            data: { id: selected_id, select_option: "edit" }
        }).done(function (msg) {
            data = eval('(' + msg + ')');
            $("#id_sales_region").val(data.id_sales_region).trigger("change");

            $.ajax({
                method: "POST",
                url: "action/lsr_mapping_to_division/get_data_form.aspx",
                data: { id: selected_id, select_option: "area-list" }
            }).done(function (msg) {
                $("#area-list").html(msg);
            });
            $("#btn-manage").click();
        });
    }
    function do_update() {
        $("#btn-submit").html('<i class="fa fa-circle-o-notch fa-spin"></i> Updating . . . ');
        $(".btn").attr("disabled", true);
        var selected_area = "";
        if ($("#id_sales_region").val() == "" || $("#id_sales_region").val() == null) {
            bootbox.alert("Please select an item in the list");
            $(".btn").attr("disabled", false);
            $("#btn-submit").html('Save');
            return false;
        }
        $.ajax({
            method: "POST",
            url: "action/lsr_mapping_to_division/get_data_selection.aspx",
            data: { select_option: "id_division_arr" }
        }).done(function (msg) {
            $("#id_division_arr").val(msg);
            $.ajax({
                method: "POST",
                url: "action/lsr_mapping_to_division/get_data_selection.aspx",
                data: { select_option: "id_area_arr" }
            }).done(function (msg) {
                var res = msg.split(",");
                for (var i in res){
                    if(res[i]!="none"){
                            selected_area=selected_area+document.getElementById(res[i]).value+",";
                    }
                }
                $("#id_area_arr").val(selected_area);
                $.ajax({
                    method: "POST",
                    url: "action/lsr_mapping_to_division/update.aspx",
                    data: { id: selected_id, id_sales_region: $("#id_sales_region").val(), id_area_arr: $("#id_area_arr").val(), id_division_arr: $("#id_division_arr").val() }
                }).done(function (msg) {
                    if (msg == "") {
                        $(".btn").attr("disabled", false);
                        $("#btn-submit").html("Simpan");
                        $(".close-tambah").click();
                        go_menu('lsr_mapping_to_division');
                    } else {
                        bootbox.alert(msg);
                        $(".btn").attr("disabled", false);
                        $("#btn-submit").html('Save');
                    }
                });
            });
        });
        
    }
    function do_delete(id, name) {
        selected_id = id;
        $("#data_name").html(name);
        $("#btn-delete").click();
    }
    function confirm_delete() {
        $("#btn-submit-delete").html('<i class="fa fa-circle-o-notch fa-spin"></i> Loading . . . ');
        $(".btn").attr("disabled", true);
        $.ajax({
            method: "POST",
            url: "action/lsr_mapping_to_division/delete.aspx",
            data: { id: selected_id }
        }).done(function (msg) {
            $(".btn").attr("disabled", false);
            $("#btn-submit-delete").html("Delete");
            $(".close-confirm").click();
            go_menu('lsr_mapping_to_division');
        });
    }
</script>
