﻿<section class="content-header">
    <h1>
        Maintain Margin
        <small>Maintain channel margin</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Master Data</a></li>
        <li class="active">Maintain Margin</li>
    </ol>
</section>

<div class="modal modal-default" id="modal-form">
    <div class="modal-dialog">
        <div class="modal-content">
		<form method="POST" id="form-add" onsubmit="do_update(); return false;" >
            <div class="modal-header clr-primary modal-title">
                <button type="button" class="close close-tambah" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Maintain Margin</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-4">Division</label>
                        <div class="col-md-8">
                            <select id="id_division" class="form-control select2" style="width: 100%" autocomplete="on"></select>
                            <div class="show-result show-result-nama no-margin"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-12">Channels :</label>
                    </div>
                    <input type="hidden" id="selected_channel" class="form-control" autocomplete="off" required>
                    <input type="hidden" id="selected_margin" class="form-control" autocomplete="off" required>
                    <div id="channel-list"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary pull-right" id="btn-submit">Save</button>
            </div>
		</form>
        </div>
    </div>
</div>
<div class="modal modal-default" id="modal-confirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clr-primary modal-title">
                <button type="button" class="close close-confirm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete Data</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        Are you sure want to delete <span id="data_name"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary pull-right" id="btn-submit-delete" onclick="confirm_delete()">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Maintain Channel Margin</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button class="btn btn-primary" onclick="do_add()"><i class="fa fa-plus"></i> Add</button>
                    <button id="btn-manage" data-toggle="modal" data-target="#modal-form" style="display:none"><i class="fa fa-plus"></i> Manage</button>
                    <button id="btn-delete" data-toggle="modal" data-target="#modal-confirm" style="display:none"><i class="fa fa-plus"></i> Hapus</button>
                    <table id="table" class="table table-bordered table-hover">
                        <thead id="table-head"> 
                        </thead>
                        <tbody id="table-body">                     
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
        //alert(ThausandSeperator("1000,211", 2));
		var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            url: "action/maintain_margin/get_data_thead.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $("#table-head").html(msg);
            $.ajax({
                url: "action/maintain_margin/get_data.aspx?sid="+Math.random(),
            }).done(function (msg) {
                $("#table-body").html(msg);
                $("#table").DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering":false,
                    "info": true,
                    "autoWidth": true,
                    "scrollX": true
                });
				dialog.modal('hide');
            });
        });
        
        $.ajax({
            method: "POST",
            url: "action/maintain_margin/get_data_selection.aspx",
            data: { select_option: "id_division" }
        }).done(function (msg) {
            $("#id_division").html(msg);
            
            //$('.two-digits').keyup(function () {
            //    if ($(this).val().indexOf('.') != -1) {
            //        if ($(this).val().split(".")[1].length > 2) {
            //            if (isNaN(parseFloat(this.value))) return;
            //            this.value = parseFloat(this.value).toFixed(2);
            //        }
            //    } alert('tes');
            //    return this; //for chaining
            //});
        });
        
        $("select").select2({
            placeholder: "Please Select",
            allowClear: true
        });
    });
    function do_add(){
        selected_id = 0;
        $("#id_division").val("").trigger("change");
        $.ajax({
            method: "POST",
            url: "action/maintain_margin/get_data_selection.aspx",
            data: { select_option: "id_channel" }
        }).done(function (msg) {
            $("#channel-list").html(msg);
        });
        $("#btn-manage").click();
    }
    function do_edit(id) {
        selected_id = id;
        $.ajax({
            method: "POST",
            url: "action/maintain_margin/get_data_form.aspx",
            data: { id: selected_id, select_option: "edit" }
        }).done(function (msg) {
            data = eval('(' + msg + ')');
            $("#id_division").val(data.id_division).trigger("change");
            $.ajax({
                method: "POST",
                url: "action/maintain_margin/get_data_form.aspx",
                data: { id: selected_id, select_option: "id_channel" }
            }).done(function (msg) {
                $("#channel-list").html(msg);
            });
            $("#btn-manage").click();
        });
    }
    function do_update() {
        $("#btn-submit").html('<i class="fa fa-circle-o-notch fa-spin"></i> Updating . . . ');
        $(".btn").attr("disabled", true);
        var selected_channel="";
        var selected_margin = "";
        if ($("#id_division").val() == "" || $("#id_division").val() == null) {            
            bootbox.alert("Please select an item in the list");
            $(".btn").attr("disabled", false);
            $("#btn-submit").html('Save');
            return false;
        } else {
            $.ajax({
                method: "POST",
                url: "action/maintain_margin/get_data_selection.aspx",
                data: { select_option: "id_channel_arr" }
            }).done(function (msg) {
                var res = msg.split(",");
                for (var i in res){
                    if(res[i]!="none"){
                        selected_channel = selected_channel + "," + res[i];
                        if (!isNaN($("#id_channel" + res[i]).val())) {
                            selected_margin = selected_margin + "," + $("#id_channel" + res[i]).val();
                        } else {
                            selected_margin = selected_margin + ",0";
                        }                        
                    }
                }
                $("#selected_channel").val(selected_channel);
                $("#selected_margin").val(selected_margin);
                $.ajax({
                    method: "POST",
                    url: "action/maintain_margin/update.aspx",
                    data: { id: selected_id, id_division: $("#id_division").val(), selected_margin: $("#selected_margin").val(), selected_channel: $("#selected_channel").val() }
                }).done(function (msg) {
                    if (msg == "") {
                        $(".btn").attr("disabled", false);
                        $("#btn-submit").html("Simpan");
                        $(".close-tambah").click();
                        go_menu('maintain_margin');
                    }else{
                        bootbox.alert(msg);
                        $(".btn").attr("disabled", false);
                        $("#btn-submit").html('Save');
                    }
                });
            });
        }
    }
    function do_delete(id, name) {
        selected_id = id;
        $("#data_name").html(name);
        $("#btn-delete").click();
    }
    function confirm_delete() {
        $("#btn-submit-delete").html('<i class="fa fa-circle-o-notch fa-spin"></i> Loading . . . ');
        $(".btn").attr("disabled", true);
        $.ajax({
            method: "POST",
            url: "action/maintain_margin/delete.aspx",
            data: { id: selected_id }
        }).done(function (msg) {
            $(".btn").attr("disabled", false);
            $("#btn-submit-delete").html("Delete");
            $(".close-confirm").click();
            go_menu('maintain_margin');
        });
    }
</script>