﻿<section class="content-header">
    <h1>
        Mapping
        <small>Job Title</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">User</a></li>
        <li class="active">Mapping Job Title</li>
    </ol>
</section>

<div class="modal modal-default" id="modal-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" id="form-add" onsubmit="do_update();return false;">
                <div class="modal-header clr-primary modal-title">
                    <button type="button" class="close close-tambah" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Mapping Job Title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-4">Job Title</label>
                            <div class="col-md-8">
                                <input type="hidden" id="id_job_title">
                                <input type="text" id="job_title" class="form-control" placeholder="Job Title" autocomplete="off" readonly>
                                <div class="show-result show-result-nama no-margin"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4">Menu</label>
                            <div class="col-md-8">
                                <select id="id_menu" class="form-control select2" style="width: 100%" autocomplete="on" required></select>
                                <div class="show-result show-result-nama no-margin"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-right" id="btn-submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Mapping Job Title</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button id="btn-manage" data-toggle="modal" data-target="#modal-form" style="display:none"><i class="fa fa-plus"></i> Manage</button>
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Job Title</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-body"></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
		var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            url: "action/mapping_job_title/get_data.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $("#table-body").html(msg);
            $("#table").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering":false,
                "info": true,
                "autoWidth": true,
                "scrollX": true
            });
			dialog.modal('hide');
        });

        // Form
        $.ajax({
            method: "POST",
            url: "action/mapping_job_title/get_data_selection.aspx",
            data: { select_option: "id_menu" }
        }).done(function (msg) {
            $("#id_menu").html(msg);
        });
        //$("select").select2({
        //    placeholder: "Please Select",
        //    allowClear: true,
        //    multiple: true
        //});
        // End Form
    });

    function do_edit(id) {
        selected_id = id;
        $.ajax({
            method: "POST",
            url: "action/mapping_job_title/get_data_form.aspx",
            data: { id: selected_id }
        }).done(function (msg) {
            data = eval('(' + msg + ')');
            var arrMenu = "";
            var i = 0;
            for (var key in data.menu) {
                //console.log(key + " -> " + data.menu[key]);
                if (i == 0) {
                    arrMenu = arrMenu + data.menu[key];
                } else {
                    arrMenu = arrMenu + "," + data.menu[key];
                }                
                i++;
            }
            var selectedValues = arrMenu.split(',');
            var multiSelect = $("select").select2({
                placeholder: "Please Select",
                allowClear: true,
                multiple: true
            });
            $("#id_menu").val(selectedValues).trigger("change");
            $("#id_job_title").val(data.id);
            $("#job_title").val(data.job_title);
            $("#btn-manage").click();
        });
    }

    function do_update() {
        $("#btn-submit").html('<i class="fa fa-circle-o-notch fa-spin"></i> Updating . . . ');
        $(".btn").attr("disabled", true);

        var id_menu = $("#id_menu").val();
        var stringMenu = id_menu.join();

        $.ajax({
            method: "POST",
            url: "action/mapping_job_title/update.aspx",
            data: { id: selected_id, id_menu: stringMenu }
        }).done(function (msg) {
            $(".btn").attr("disabled", false);
            $("#btn-submit").html("Simpan");
            $(".close-tambah").click();
            go_menu('mapping_job_title');
        });
    }
</script>