﻿<section class="content-header">
    <h1>
        Change Password
        <small>Maintain password</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">User</a></li>
        <li class="active"> Change Password</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Change Password</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <form onsubmit="do_update();return false">
                            <div class="form-group col-md-12">
                                <label class="col-md-4">Old Password</label>
                                <div class="col-md-8">
                                    <input type="password" id="old_pass" class="form-control" placeholder="Old Password" autocomplete="off" required>
                                    <div class="show-result show-result-nama no-margin"></div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="col-md-4">New Password</label>
                                <div class="col-md-8">
                                    <input type="password" id="new_pass" class="form-control" placeholder="New Password" autocomplete="off" required>
                                    <div class="show-result show-result-nik no-margin"></div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="col-md-4">Confirm Password</label>
                                <div class="col-md-8">
                                    <input type="password" id="confirm_pass" class="form-control" placeholder="Confirm Password" autocomplete="off" required>
                                    <div class="show-result show-result-nik no-margin"></div>
                                </div>
                            </div>
                            <div class="form-group col-md-12" style="text-align:right">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    function do_update() {
        if ($("#new_pass").val() == $("#confirm_pass").val()) {
            $.ajax({
                method: 'post',
                url: 'action/user/change_password.aspx',
                data: { old_pass: $("#old_pass").val(),new_pass : $("#new_pass").val() }
            }).done(function (msg) {
                data = eval('(' + msg + ')');
                if (data.status == 1) {
                    bootbox.alert({
                        message: "Your password changed successfully",
                        callback: function () {
                            go_logout();
                        }
                    })
                } else {
                    bootbox.alert(data.msg);
                }
            });
        } else {
            bootbox.alert("Password and Confirm password did not match");
        }
    }
</script>