﻿<section class="content-header">
    <h1>
        PH Exception Mapping
        <small>Maintain master data PH Exception Mapping</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Master Data</a></li>
        <li class="active">PH Exception Mapping</li>
    </ol>
</section>

<div class="modal modal-default" id="modal-form">
    <div class="modal-dialog">
        <div class="modal-content">
		<form method="POST" id="form-add" onsubmit="do_update();return false;" >
            <div class="modal-header clr-primary modal-title">
                <button type="button" class="close close-tambah" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">PH Exception Mapping</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-4">Division</label>
                        <div class="col-md-8">
                            <select id="id_division" class="form-control select2" style="width:100%" autocomplete="off" required></select>
                            <div class="show-result show-result-nama no-margin"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-4">Code</label>
                        <div class="col-md-8">
							<input type="text" id="code" class="form-control" placeholder="Code" autocomplete="off" required>
                            <div class="show-result show-result-nik no-margin"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary pull-right" id="btn-submit">Save</button>
            </div>
		</form>
        </div>
    </div>
</div>
<div class="modal modal-default" id="modal-confirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clr-primary modal-title">
                <button type="button" class="close close-confirm" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete Data</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        Are you sure want to delete <span id="data_name"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary pull-right" id="btn-submit-delete" onclick="confirm_delete()">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data PH Exception Mapping</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button class="btn btn-primary" onclick="do_add()"><i class="fa fa-plus"></i> Add</button>
                    <button id="btn-manage" data-toggle="modal" data-target="#modal-form" style="display:none"><i class="fa fa-plus"></i> Manage</button>
                    <button id="btn-delete" data-toggle="modal" data-target="#modal-confirm" style="display:none"><i class="fa fa-plus"></i> Hapus</button>
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Division Code</th>
                                <th>Division</th>
								<th>Sub Division</th>
                                <th>Category</th>
                                <th>Brand</th>
                                <th>Sub Brand</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">                     
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
		var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            url: "action/ph_exception_mapping/get_data.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $("#table-body").html(msg);
            $("#table").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering":false,
                "info": true,
                "autoWidth": true,
                "scrollX": true
            });
			dialog.modal('hide');
        });
		$.ajax({
			method: "POST",
            url: "action/ph_exception_mapping/get_data_selection.aspx",
			data: { select_option: "id_division" }
        }).done(function (msg) {
            $("#id_division").html(msg);
        });
        
        $("select").select2({
            placeholder: "Please Select",
            allowClear: true
        });
    });
    function do_add(){
        selected_id = 0;
        $("#id_division").val("").trigger("change");
        $("#code").val("");
        $("#btn-manage").click();
    }
    function do_edit(id) {
        selected_id = id;
        $.ajax({
            method: "POST",
            url: "action/ph_exception_mapping/get_data_form.aspx",
            data: { id: selected_id }
        }).done(function (msg) {
            data = eval('(' + msg + ')');
            $("#id_division").val(data.id_division).trigger("change");
            $("#code").val(data.code);
            $("#btn-manage").click();
        });
    }
    function do_update() {
        $("#btn-submit").html('<i class="fa fa-circle-o-notch fa-spin"></i> Updating . . . ');
        $(".btn").attr("disabled", true);
        $.ajax({
            method: "POST",
            url: "action/ph_exception_mapping/update.aspx",
            data: { id: selected_id, id_division: $("#id_division").val(), code: $("#code").val() }
        }).done(function (msg) {
            $(".btn").attr("disabled", false);
            $("#btn-submit").html("Simpan");
            $(".close-tambah").click();
            go_menu('ph_exception_mapping');
        });
    }
    function do_delete(id, name) {
        selected_id = id;
        $("#data_name").html(name);
        $("#btn-delete").click();
    }
    function confirm_delete() {
        $("#btn-submit-delete").html('<i class="fa fa-circle-o-notch fa-spin"></i> Loading . . . ');
        $(".btn").attr("disabled", true);
        $.ajax({
            method: "POST",
            url: "action/ph_exception_mapping/delete.aspx",
            data: { id: selected_id }
        }).done(function (msg) {
            $(".btn").attr("disabled", false);
            $("#btn-submit-delete").html("Delete");
            $(".close-confirm").click();
            go_menu('ph_exception_mapping');
        });
    }
</script>