﻿<section class="content-header">
    <h1>
        Proposal
        <small>Create Or Edit Proposal</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Proposal</a></li>
        <li class="active">Proposal</li>
    </ol>
</section>
<style>
.show-result {
    position: absolute;
    background-color: #fff;
    height: auto;
    width: 92.5%;
    z-index: 4;
    margin-top: -15px;
    border: 1px solid #ddd;
    display: none;
}
ul.show-autocomplete {list-style: none;padding: 0;margin: 0;height:200px;overflow:auto}
ul.show-autocomplete li {padding: 8px;border-bottom: 1px solid #eee;}
ul.show-autocomplete a {color: #000;}
ul.show-autocomplete li:hover { background-color: #eee; }
</style>
<div class="modal modal-default" id="modal-form">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="post" onsubmit="do_add_product(); return false">
                <div class="modal-header clr-primary modal-title">
                    <button type="button" class="close close-tambah" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Product Information</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2">Product</label>
                            <div class="col-md-10">
                                <input type="hidden" id="cpgcd" class="form-control" placeholder="Product" autocomplete="off">
                                <input type="hidden" id="product_name" class="form-control" placeholder="Product" autocomplete="off">
                                <select id="product" class="form-control select2" placeholder="Product" style="width: 100%;" required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12" style="display:none" id="form_old_product">
                            <label class="col-md-2">Old Product</label>
                            <input type="hidden" id="old_product_code"/>
                            <div class="col-md-10" id="data_old_product">
                                <select id="old_product" onchange="select_area()" class="form-control select2" multiple="multiple" data-placeholder="Select old product" style="width: 100%;">
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2">Unit Per Dozen</label>
                            <div class="col-md-4">
                                <input type="text" id="upd" class="form-control" placeholder="Unit Per Dozen" autocomplete="off"  required>
                            </div>
                            <label class="col-md-2">Confirguration</label>
                            <div class="col-md-4">
                                <input type="text" id="configuration" class="form-control" placeholder="Configuration" autocomplete="off" required>
                                <label class="label label-info" id="user_conf">User</label>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2">PCs/Case</label>
                            <div class="col-md-4">
                                <input type="text" id="ipack" class="form-control" placeholder="Ipack" autocomplete="off" required readonly>
                            </div>
                            <label class="col-md-2">Remark</label>
                            <div class="col-md-4" >
                                <select id="remark" onchange="change_remark()" class="form-control" required></select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2">Area</label>
                            <div class="col-md-4">
                                <select id="area" onchange="select_area()" class="form-control" required></select>
                            </div>
                            <label class="col-md-2">Effective Date</label>
                            <div class="col-md-4">
                                <select id="effective_date" class="form-control" required></select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2">Toko Price</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon" id="old_toko_price"></span>
                                    <input type="text" id="toko_price" onkeyup="this.value = ThausandSeperator(this.value);calculate_rate_margin()" class="form-control" placeholder="Toko Price" autocomplete="off" required>
                                    <span class="input-group-addon" id="toko_price_diff"></span>
                                </div>
                            </div>
                            <label class="col-md-2">RSP Price</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon" id="old_rsp_price"></span>
                                    <input type="text" id="rsp_price" onkeyup="this.value = ThausandSeperator(this.value); calculate_rate_margin()" class="form-control" placeholder="RSP Price" autocomplete="off" required>
                                    <span class="input-group-addon" id="rsp_price_diff"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2">Ret Margin (%)</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon" id="old_ret_margin_pct"></span>
                                    <input type="text" id="ret_margin_pct" class="form-control" placeholder="Toko Price" autocomplete="off" readonly>
                                    <span class="input-group-addon" id="ret_margin_pct_diff"></span>
                                </div>
                            </div>
                            <label class="col-md-2">Ret Margin (Rp)</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon" style="background:#DDD" id="old_ret_margin_rp"></span>
                                    <input type="text" id="ret_margin_rp" class="form-control" placeholder="RSP Price" autocomplete="off" readonly>
                                    <span class="input-group-addon" id="ret_margin_rp_diff"></span>
                                </div>
                            </div>
                        </div>
                        <div id="form_mdg" style="display:none">
                            <div class="form-group col-md-12">
                                <label class="col-md-2">Approval File</label>
                                <div class="col-md-4">
                                    <input type="hidden" id="mdg_approval_file" value=""/>
                                    <input type="file" style="display:none" onchange="do_upload()" id="file-mdg_approval_file" class="form-control" autocomplete="off" accept=".rar,.zip">
                                    <button type="button" class="btn btn-primary btn-md" onclick="$('#file-mdg_approval_file').click()"><i class="fa fa-upload"></i>&nbsp;Upload</button>
                                    <span id="uploaded_file"></span>
                                </div>
                                <label class="col-md-2">Approval Date</label>
                                <div class="col-md-4">
                                    <input type="text" id="mdg_approval_date" class="form-control" placeholder="MDG Approval Date" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <input type="hidden" id="mdg_approval_status" value=""/>
                                <label class="col-md-4">It ist already approved by MDG ?</label>
                                <div class="col-md-2">
                                    <input type="checkbox" name="mdg_approval" id="mdg_approval_yes" required> Yes</input>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2">Comment</label>
                            <div class="col-md-10">
                                <input type="text" id="comment" class="form-control" placeholder="Comment" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2">Channel</label>
                            <div class="col-md-10" id="list_channel">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-right" id="btn-add_product">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal modal-default" id="modal-preview">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clr-primary modal-title">
                <button type="button" class="close close-tambah" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Product Preview</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover" id="preview" style="width:1500px">
                    <thead>
                        <tr>
                            <th rowspan="3">SKU</th>
                            <th rowspan="3">Description</th>
                            <th rowspan="3">RSP Price</th>
                            <th colspan="6">Toko Price</th>
                            <th rowspan="2" colspan="2">RSP Price</th>
                        </tr>
                        <tr>
                            <th colspan="3">Non PPN</th>
                            <th colspan="3">PPN</th>
                        </tr>
                        <tr>
                            <th>CS</th>
                            <th>Dozen</th>
                            <th>PCS</th>
                            <th>CS</th>
                            <th>Dozen</th>
                            <th>PCS</th>
                            <th>Non PPN</th>
                            <th>PPN</th>
                        </tr>
                    </thead>
                    <tbody id="table-preview"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Proposal</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-12">
								<label class="col-md-3">Proposal Number</label>
								<div class="col-md-8">
									<span id="proposal_number">-</span>
								</div>
							</div>
                            <div class="form-group col-md-12">
                                <label class="col-md-3">Creator</label>
                                <div class="col-md-8">
                                    <span id="creator">-</span>
                                </div>
                            </div>
							<div class="form-group col-md-12">
								<label class="col-md-3">Subject</label>
								<div class="col-md-8">
									<input type="text" id="subject" class="form-control" placeholder="Subject" autocomplete="off">
									<div class="show-result show-result-nama no-margin"></div>
								</div>
							</div>
						</div>
					</div>	
                    <button class="btn btn-primary" id="btn-add" onclick="do_add()"><i class="fa fa-plus"></i> Add</button>
                    <button id="btn-manage" data-toggle="modal" data-target="#modal-form" style="display:none" data-backdrop="static" data-keyboard="false"><i class="fa fa-plus"></i> Manage</button>
                    <button id="btn-preview" data-toggle="modal" data-target="#modal-preview" style="display:none"><i class="fa fa-plus"></i> Preview</button>
                    <button id="btn-delete" data-toggle="modal" data-target="#modal-confirm" style="display:none"><i class="fa fa-plus"></i> Hapus</button>
                    <table id="table" class="table table-bordered table-hover" style="width:2000px">
						<thead>
                            <tr>
                                <th rowspan="2">SKU</th>
                                <th rowspan="2">Products</th>
								<th rowspan="2">Unit per Dozen</th>
								<th rowspan="2">Configuration</th>
								<th rowspan="2">PCs/Case</th>
                                <th rowspan="2">Remarks ID</th>
								<th rowspan="2">Remarks</th>
                                <th rowspan="2">Area ID</th>
								<th rowspan="2">Area</th>
                                <th rowspan="2">Channel ID</th>
								<th rowspan="2">Channel</th>
                                <th rowspan="2">Effective Date ID</th>
								<th rowspan="2">Effective Date</th>
								<th colspan="2">Price</th>
								<th rowspan="2">Comment</th>
                                <th rowspan="2">Status</th>
                                <th rowspan="2">Action</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
							</tr>
                            <tr>
                                <th>Toko</th>
                                <th>RSP</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">                
                        </tbody>
					</table>
                    <div class="col-md-12" style="text-align:right">
                        <div id="group_new">
                            <button class="btn btn-danger btn-discard" onclick="do_discard()"><i class="fa fa-trash"></i> Discard</button>
                            <button class="btn btn-primary btn-preview" onclick="do_preview()"><i class="fa fa-eye"></i> Preview</button>
                            <button class="btn btn-primary btn-draft" onclick="do_draft()"><i class="fa fa-edit"></i> Save As Draft</button>
                            <button class="btn btn-primary btn-save" onclick="do_submit()"><i class="fa fa-arrow-right"></i> Submit</button>
                        </div>
                        <div id="group_approval">
                            <button class="btn btn-danger btn-reject_all" onclick="do_reject_all()"><i class="fa fa-trash"></i> Reject All</button>
                            <button class="btn btn-primary btn-approve_all" onclick="do_approve_all()"><i class="fa fa-save"></i> Approve All</button>
                            <button class="btn btn-primary btn-approve" onclick="do_approve()"><i class="fa fa-arrow-right"></i> Submit</button>
                        </div>
                        <div id="group_publish">
                            <button class="btn btn-primary btn-approve" onclick="do_approve_publish()"><i class="fa fa-arrow-right"></i> Approve</button>
                        </div>
                        <div id="group_edit">
                            <button class="btn btn-primary btn-delete" onclick="do_delete()"><i class="fa fa-trash"></i> Delete</button>
                            <button class="btn btn-primary btn-preview" onclick="do_preview()"><i class="fa fa-eye"></i> Preview</button>
                            <button class="btn btn-primary btn-save" onclick="do_submit()"><i class="fa fa-save"></i> Submit</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="box box-warning direct-chat direct-chat-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Message Board</h3>

                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages" id="msg-board" style="height:100px">
                       
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <form action="#" method="post" onsubmit="send_message();return false">
                        <div class="input-group">
                            <input type="text" id="message" name="message" placeholder="Type Message ..." class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-warning btn-flat" onclick="send_message()">Send</button>
                            </span>
                        </div>
                    </form>
                </div>
                <!-- /.box-footer-->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var toko_price = 0;
    var rsp_price = 0;
    var ret_margin_pct = 0;
    var ret_margin_rp = 0;
    var id_input_product = "";
    var selected_id = "";
    var t = "";
    var p = "";

    $(function () {
        $("#user_conf").fadeOut(0);
        p = $("#preview").DataTable({
            "paging": false,
            "scrollY": "400px",
            "fixedColumns": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "scrollX": true,
            "columns": [
                { "width": "8%" },
                { "width": "20%" },
                { "width": "8%" },
                { "width": "8%" },
                { "width": "8%" },
                { "width": "8%" },
                { "width": "8%" },
                { "width": "8%" },
                { "width": "8%" },
                { "width": "8%" },
                { "width": "8%" }
            ]
        });
        t = $("#table").DataTable({
            "paging": false,
            "scrollY": "400px",
            "fixedColumns": true,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "scrollX": true,
            "columnDefs": [
                {
                    "targets": [5],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [7],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [9],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [11],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [18],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [19],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [20],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [21],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [22],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [23],
                    "visible": false,
                    "searchable": false
                }
            ],
            "columns": [
                { "width": "8%" },
                { "width": "18%" },
                { "width": "8%" },
                { "width": "6%" },
                { "width": "6%" },
                { "width": "0%" },
                { "width": "6%" },
                { "width": "0px" },
                { "width": "6%" },
                { "width": "0px" },
                { "width": "8%" },
                { "width": "0px" },
                { "width": "8%" },
                { "width": "6%" },
                { "width": "6%" },
                { "width": "15%" },
                { "width": "6%" },
                { "width": "12%" },
                { "width": "0%" },
                { "width": "0%" },
                { "width": "0%" },
                { "width": "0%" },
                { "width": "0%" },
                { "width": "0%" }
            ]
        });
        $.ajax({
            method: "POST",
            url: "action/proposal/get_data_remark.aspx"
        }).done(function (msg) {
            $("#remark").html(msg);
        });
        $.ajax({
            method: "POST",
            url: "action/proposal/get_data_area.aspx"
        }).done(function (msg) {
            $("#area").html(msg);
        });
        $.ajax({
            method: "POST",
            url: "action/proposal/get_data_effective_date.aspx"
        }).done(function (msg) {
            $("#effective_date").html(msg);
        });
        $("#mdg_approval_date").datepicker({
            autoclose: true,
            endDate:'0d',
            format: "mm/dd/yyyy"
        });
        if ($("#global_status").val() == "2" || $("#global_status").val() == "3") {
            $("input").attr("disabled", true);
            $("#message").attr("disabled", false);
            $("select").attr("disabled", true);
            $("select").prop("disabled", true);
            $("#btn-submit").fadeOut(0);
            $("#btn-add").fadeOut(0);
            $("#btn-add_product").fadeOut(0);
            $("#group_approval").fadeIn(0);
            $("#group_new").fadeOut(0);
            $("#group_edit").fadeOut(0);
            $("#group_publish").fadeOut(0);
        } else if ($("#global_status").val() == "0" || $("#global_status").val() == "1") {
            $("#group_approval").fadeOut(0);
            $("#group_new").fadeIn(0);
            $("#group_edit").fadeOut(0);
            $("#group_publish").fadeOut(0);
            $("#message").attr("disabled", true);
        } else if ($("#global_status").val() == "7") {
            $("#group_approval").fadeOut(0);
            $("#group_new").fadeOut(0);
            $("#group_edit").fadeIn(0);
            $("#btn-add").fadeOut(0);
            $("#group_publish").fadeOut(0);
        } else if ($("#global_status").val() == "6") {
            $("#group_approval").fadeOut(0);
            $("#group_new").fadeOut(0);
            $("#group_edit").fadeIn(0);
            $("#group_publish").fadeOut(0);
        } else if ($("#global_status").val() == "10" || $("#global_status").val() == "11") {
            $("#group_approval").fadeOut(0);
            $("#group_new").fadeOut(0);
            $("#group_edit").fadeIn(0);
            $("input").attr("disabled", true);
            $("#message").attr("disabled", false);
            $("select").attr("disabled", true);
            $("select").prop("disabled", true);
            $("#effective_date").attr("disabled", false);
            $("#btn-add").fadeOut(0);
            $("#group_publish").fadeOut(0);
        } else if ($("#global_status").val() == "100") {
            $("input").attr("disabled", true);
            $("#message").attr("disabled", false);
            $("select").attr("disabled", true);
            $("select").prop("disabled", true);
            $("#btn-submit").fadeOut(0);
            $("#btn-add").fadeOut(0);
            $("#btn-add_product").fadeOut(0);
            $("#group_approval").fadeOut(0);
            $("#group_new").fadeOut(0);
            $("#group_edit").fadeOut(0);
            $("#group_publish").fadeOut(0);
        } else if ($("#global_status").val() == "101") {
            $("input").attr("disabled", true);
            $("#message").attr("disabled", false);
            $("select").attr("disabled", true);
            $("select").prop("disabled", true);
            $("#btn-add_product").fadeOut(0);
            $("#btn-submit").fadeOut(0);
            $("#btn-add").fadeOut(0);
            $("#group_approval").fadeOut(0);
            $("#group_new").fadeOut(0);
            $("#group_edit").fadeOut(0);
            $("#group_publish").fadeIn(0);
        } else if ($("#global_status").val() == "102") {
            $("input").attr("disabled", true);
            $("#message").attr("disabled", false);
            $("select").attr("disabled", true);
            $("select").prop("disabled", true);
            $("#btn-submit").fadeIn(0);
            $("#btn-add").fadeOut(0);
            $("#toko_price").attr("disabled", false);
            $("#rsp_price").attr("disabled", false);
            $("#group_approval").fadeOut(0);
            $("#group_new").fadeOut(0);
            $("#group_edit").fadeIn(0);
            $("#group_publish").fadeOut(0);
            $(".btn-delete").fadeOut(0);
            $(".btn-preview").fadeOut(0);
        }
        $("#old_product").select2();
        $("input[type='search']").attr("disabled", false);
        $.ajax({
            method: "POST",
            url: "action/proposal/get_data_product.aspx",
            data: { id: $("#global_id").val() }
        }).done(function (msg) {
            $("#product").html(msg);
            id_input_product = "product";
            $("#product").select2().on("select2:select", function (e) {
                $.ajax({
                    method: "POST",
                    url: "action/proposal/get_properti_product.aspx?sid="+Math.random(),
                    data: {matnr:$("#product").val()}
                }).done(function (msg) {
                    data = eval('(' + msg + ')');
                    $("#product_name").val(data.maktx);
                    $("#cpgcd").val(data.cpgcd);
                    $("#upd").val(data.upd);
                    $("#configuration").val(data.conf);
                    $("#ipack").val(data.ipack);
                    $("#area").val("");
                    if (data.user == "1") {
                        $("#user_conf").fadeIn(0);
                    } else {
                        $("#user_conf").fadeOut(0);
                    }
                    $("#old_toko_price").html("");
                    $("#old_rsp_price").html("");
                    $("#old_ret_margin_pct").html("");
                    $("#old_ret_margin_rp").html("");
                    change_remark();
                    toko_price = 0;
                    rsp_price = 0;
                    ret_margin_pct = 0;
                    ret_margin_rp = 0;
                    calculate_rate_margin();
                });
            });
        });
        load_pesan();
        load_table();
    });
    function do_preview() {
        $.ajax({
            method: "POST",
            url: "action/proposal/get_data_preview.aspx?sid="+Math.random(),
            data: { id: $("#global_id").val() }
        }).done(function (msg) {
            data = eval('(' + msg + ')');
            p.clear();
            for (var i = 0; i < data.length; i++) {
                p.row.add([
                    data[i].sku,
                    data[i].sku_desc,
                    data[i].rsp_price,
                    data[i].toko_price_ppn_cs,
                    data[i].toko_price_ppn_lusin,
                    data[i].toko_price_ppn,
                    data[i].toko_price_nppn_cs,
                    data[i].toko_price_nppn_lusin,
                    data[i].toko_price_nppn,
                    data[i].rsp_price_ppn_cs,
                    data[i].rsp_price_nppn_cs
                ]).draw(false)
            }
            $("#btn-preview").click();
        });
    }
    function load_pesan() {
        $.ajax({
            method: "POST",
            url: "action/proposal/get_data_pesan.aspx?sid="+Math.random(),
            data: { id: $("#global_id").val() }
        }).done(function (msg) {
            if ($("#msg-board").length) {
                $("#msg-board").html(msg);
                setTimeout("load_pesan()", 300000);
            }
        });
    }
    function send_message() {
        $.ajax({
            method: "POST",
            url: "action/proposal/send_message.aspx?sid="+Math.random(),
            data: { id: $("#global_id").val(),msg:$("#message").val()}
        }).done(function (msg) {
            $("#message").val(""); $.ajax({
                method: "POST",
                url: "action/proposal/get_data_pesan.aspx?sid=" + Math.random(),
                data: { id: $("#global_id").val() }
            }).done(function (msg) {
                if ($("#msg-board").length) {
                    $("#msg-board").html(msg);
                }
            });
        });
    }
    function load_table() {
    	var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            method: "POST",
            url: "action/proposal/get_data_promo_product.aspx?sid="+Math.random(),
            data: { id: $("#global_id").val(),sid:Math.random() }
        }).done(function (msg) {
            data = eval('(' + msg + ')');
            t.clear().draw();
            for (var i = 0; i < data.length; i++) {
                if ($("#subject").val() == "") {
                    $("#subject").val(data[i].subject);
                    $("#proposal_number").html(data[i].proposal_number);
                    $("#creator").html(data[i].creator);
                }
                if ($("#global_status").val() == "2" || $("#global_status").val() == "3") {
                    t.row.add([
                        data[i].sku,
                        data[i].sku_name,
                        data[i].dozen,
                        data[i].configuration,
                        data[i].ipack,
                        data[i].remark,
                        data[i].proposal_remark,
                        data[i].id_area,
                        data[i].area_name,
                        data[i].channel_id,
                        data[i].channel,
                        data[i].id_callendar,
                        data[i].effective_date,
                        data[i].toko_price,
                        data[i].rsp_price,
                        '<input type = "text" ref_id="' + data[i].id + '" value="' + data[i].comment + '"  name="comment" id = "comment_' + data[i].id + '" class="form-control"/>&nbsp;<a onclick="clear_comment(' + data[i].id + ')" class="btn btn-danger btn-xs"><i class="fa fa-close"></i></a>',
                        data[i].sp_status,
                        (data[i].id_area != 8)?
                        ((data[i].mdg_approval_file != "") ? '<a data-toggle="tooltip" title="Attachment"  href="Files/'+data[i].mdg_approval_file+'" class="btn btn-primary btn-xs"><i class="fa fa-paperclip"></i></a>' : '') + "&nbsp;" + '<button type="button" onclick="do_edit(' + data[i].id + ',this)" class="btn btn-primary btn-xs"  data-toggle="tooltip" title="View" ><i class="fa fa-eye"></i></button>&nbsp;<button type="button" id="btn_approve_' + data[i].id + '" onclick="do_set_approve(this.id)" class="btn btn-primary btn-xs"  data-toggle="tooltip" title="Approve" ><i name="btn-status" ref_id="' + data[i].id + '" ref_status="approve" class="fa fa-thumbs-up"></i></button>'
                        :"",
                        data[i].old_sku,
                        data[i].cpgcd,
                        data[i].mdg_approval_file,
                        data[i].mdg_approval_date,
                        data[i].mdg_approval,
                        data[i].id
                    ]).draw(true)
                } else if ($("#global_status").val() == "100" || $("#global_status").val() == "101") {
                    $("#subject").val(data[i].subject);
                    t.row.add([
                        data[i].sku,
                        data[i].sku_name,
                        data[i].dozen,
                        data[i].configuration,
                        data[i].ipack,
                        data[i].remark,
                        data[i].proposal_remark,
                        data[i].id_area,
                        data[i].area_name,
                        data[i].channel_id,
                        data[i].channel,
                        data[i].id_callendar,
                        data[i].effective_date,
                        data[i].toko_price,
                        data[i].rsp_price,
                        data[i].comment,
                        data[i].sp_status,
                        (data[i].id_area != 8)?
                        ((data[i].mdg_approval_file != "") ? '<a data-toggle="tooltip" title="Attachment"  href="Files/' + data[i].mdg_approval_file + '" class="btn btn-primary btn-xs"><i class="fa fa-paperclip"></i></a>' : '') + "&nbsp;" + '<button type="button" onclick="do_edit(' + data[i].id + ',this)" class="btn btn-primary btn-xs"  data-toggle="tooltip" title="View" ><i class="fa fa-eye"></i></button>':"",
                        data[i].old_sku,
                        data[i].cpgcd,
                        data[i].mdg_approval_file,
                        data[i].mdg_approval_date,
                        data[i].mdg_approval,
                        data[i].id
                    ]).draw(true)
                } else if ($("#global_status").val() == "10" || $("#global_status").val() == "11" || $("#global_status").val() == "102") {
                    t.row.add([
                        data[i].sku,
                        data[i].sku_name,
                        data[i].dozen,
                        data[i].configuration,
                        data[i].ipack,
                        data[i].remark,
                        data[i].proposal_remark,
                        data[i].id_area,
                        data[i].area_name,
                        data[i].channel_id,
                        data[i].channel,
                        data[i].id_callendar,
                        data[i].effective_date,
                        data[i].toko_price,
                        data[i].rsp_price,
                        data[i].comment,
                        data[i].sp_status,
                        (data[i].id_area != 8)?
                        ((data[i].mdg_approval_file != "") ? '<a data-toggle="tooltip" title="Attachment" href="Files/' + data[i].mdg_approval_file + '" class="btn btn-primary btn-xs"><i class="fa fa-paperclip"></i></a>' : '') + "&nbsp;" + '<button type="button" onclick="do_edit(' + data[i].id + ',this)" class="btn btn-primary btn-xs"  data-toggle="tooltip" title="Edit" ><i class="fa fa-edit"></i></button>':"",
                        data[i].old_sku,
                        data[i].cpgcd,
                        data[i].mdg_approval_file,
                        data[i].mdg_approval_date,
                        data[i].mdg_approval,
                        data[i].id
                    ]).draw(true)
                }else {
                    t.row.add([
                        data[i].sku,
                        data[i].sku_name,
                        data[i].dozen,
                        data[i].configuration,
                        data[i].ipack,
                        data[i].remark,
                        data[i].proposal_remark,
                        data[i].id_area,
                        data[i].area_name,
                        data[i].channel_id,
                        data[i].channel,
                        data[i].id_callendar,
                        data[i].effective_date,
                        data[i].toko_price,
                        data[i].rsp_price,
                        data[i].comment,
                        data[i].sp_status,
                        (data[i].id_area != 8)?
                        ((data[i].mdg_approval_file != "") ? '<a data-toggle="tooltip" title="Attachment"  href="Files/' + data[i].mdg_approval_file + '" class="btn btn-primary btn-xs"><i class="fa fa-paperclip"></i></a>' : '') + "&nbsp;" + '<button type="button" onclick="do_edit(' + data[i].id + ',this)" class="btn btn-primary btn-xs"  data-toggle="tooltip" title="Edit" ><i class="fa fa-edit"></i></button>&nbsp;<button type="button" onclick="do_delete_item(' + data[i].id + ',this)"  class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete" ><i class="fa fa-trash"></i></button>':"",
                        data[i].old_sku,
                        data[i].cpgcd,
                        data[i].mdg_approval_file,
                        data[i].mdg_approval_date,
                        data[i].mdg_approval,
                        data[i].id
                    ]).draw(true)
                }
            }
            dialog.modal('hide');
        });
    }
    function clear_comment(id) {
        $("#comment_" + id).val("");
        $("#comment_" + id).focus();
    }
    function change_remark() {
        if ($("#remark").val() == "5" || $("#remark").val() == "2") {
            $.ajax({
                url: "action/proposal/get_data_product_old.aspx?key="+$("#cpgcd").val()
            }).done(function (msg) {
                $("#old_product").html(msg);
                $("#old_product").val($("#old_product_code").val().split(","));
                $("#form_old_product").fadeIn(0);
                select_area();
            });
        } else {
            $("#old_product").html("<option value='none' selected>none</option>");
            $("#form_old_product").fadeOut(0);
            select_area();
        }
        
        if ($("#remark").val() == "1" || $("#remark").val() == "2") {
            $("#form_mdg").fadeIn(0);
            $("#mdg_approval_yes").prop('checked', false);
            if ($("#mdg_approval_status").val() != "yes") {
                $("#mdg_approval_date").val('');
            }
        } else {
            $("#form_mdg").fadeOut(0);
            $("#mdg_approval_yes").prop('checked', true);
            $("#mdg_approval_date").val('none');
        }
        if ($("#mdg_approval_status").val() == "yes") {
            $("#mdg_approval_yes").prop('checked', true);
        }
        if ($("#global_status").val() == "0" || $("#global_status").val() == "1" || $("#global_status").val() == "7" || $("#global_status").val() == "6") {
        }else{
            $("#mdg_approval_yes").prop('disabled', true);
        }
    }
    function select_area() {
        var old_product = "none";
        try{
            old_product = $("#old_product").val().join(",");
        }catch(e){
        }
        $.ajax({
            method: "POST",
            url: "action/proposal/get_data_mapping_channel.aspx",
            data: {
                product: $("#product").val(),
                old_product: old_product,
                area: $("#area").val(),
                id: $("#global_id").val()
            }
        }).done(function (msg) {
            toko_price = 0;
            rsp_price = 0;
            ret_margin_pct = 0;
            ret_margin_rp = 0;
            $("#old_toko_price").html("");
            $("#old_rsp_price").html("");
            $("#old_ret_margin_pct").html("");
            $("#old_ret_margin_rp").html("");
            $("#ret_margin_pct").val("");
            $("#ret_margin_rp").val("");
            $("#toko_price_diff").html("");
            $("#rsp_price_diff").html("");
            $("#ret_margin_pct_diff").html("");
            $("#ret_margin_rp_diff").html("");
            var data = eval('(' + msg + ')');            
            if (selected_id == "0") {
                $("input[name='ck_channel']").prop('checked', false);
                $("small[name='label_channel']").html("");
            }else{

            }
            for (var i = 0; i < data.length; i++) {
                if (selected_id == "0") {
                    $("#channel_" + data[i].id).prop('checked', true);
                }
                if (data[i].toko_price != "") {
                    toko_price = data[i].toko_price;
                    rsp_price = data[i].rsp_price;
                    ret_margin_rp = parseFloat(rsp_price) - parseFloat(toko_price);
                    ret_margin_pct = ((parseFloat(rsp_price) - parseFloat(toko_price)) / parseFloat(rsp_price)) * 100;
                    //$("#price_" + data[i].id).html("<span class='label label-success'>Toko " + ThausandSeperator(parseFloat(data[i].toko_channel_price)) + " </span>&nbsp;<span class='label label-success'> RSP " + ThausandSeperator(parseFloat(data[i].rsp_channel_price))+"</span>");
                    $("#old_toko_price").html(ThausandSeperator(convertToString(parseFloat(data[i].toko_price))) + " <sup class='label label-info'>old</sup>");
                    $("#old_rsp_price").html(ThausandSeperator(convertToString(parseFloat(data[i].rsp_price))) + " <sup class='label label-info'>old</sup>");
                    $("#old_ret_margin_pct").html((Math.round(ret_margin_pct * 100) / 100) + " <sup class='label label-info'>old</sup>");
                    $("#old_ret_margin_rp").html(ThausandSeperator(convertToString(ret_margin_rp)) + " <sup class='label label-info'>old</sup>");
                }
            }
            calculate_rate_margin();
        });
    }
    function calculate_rate_margin() {
        var new_margin_pct = ((parseFloat(convertToNumber($("#rsp_price").val())) - parseFloat(convertToNumber($("#toko_price").val()))) / parseFloat(convertToNumber($("#rsp_price").val()))) * 100;
        var new_margin_rp = parseFloat(convertToNumber($("#rsp_price").val())) - parseFloat(convertToNumber($("#toko_price").val()));
        $("#ret_margin_pct").val(ThausandSeperator(convertToString(Math.round(new_margin_pct * 100) / 100)))
        $("#ret_margin_rp").val(ThausandSeperator(convertToString(new_margin_rp)))
        if (parseFloat(convertToNumber($("#rsp_price").val())) > parseFloat(rsp_price)) {
            $("#rsp_price_diff").html("<i class='fa fa-arrow-up'></i> " + ThausandSeperator(convertToString(parseFloat(convertToNumber($("#rsp_price").val())) - parseFloat(rsp_price))))
            $("#rsp_price_diff").css("background", "#00A65A")
            $("#rsp_price_diff").css("color", "#FFFFFF")
        } else {
            $("#rsp_price_diff").html("<i class='fa fa-arrow-down'></i> " + ThausandSeperator(convertToString(parseFloat(rsp_price) - parseFloat(convertToNumber($("#rsp_price").val())))))
            $("#rsp_price_diff").css("background", "#DD4B39")
            $("#rsp_price_diff").css("color", "#FFFFFF")
        }
        if (parseFloat(convertToNumber($("#toko_price").val())) > parseFloat(toko_price)) {
            $("#toko_price_diff").html("<i class='fa fa-arrow-up'></i> " + ThausandSeperator(convertToString(parseFloat(convertToNumber($("#toko_price").val())) - parseFloat(toko_price))))
            $("#toko_price_diff").css("background", "#00A65A")
            $("#toko_price_diff").css("color", "#FFFFFF")
        } else {
            $("#toko_price_diff").html("<i class='fa fa-arrow-down'></i> " + ThausandSeperator(convertToString(parseFloat(toko_price) - parseFloat(convertToNumber($("#toko_price").val())))))
            $("#toko_price_diff").css("background", "#DD4B39")
            $("#toko_price_diff").css("color", "#FFFFFF")
        }
        if (new_margin_pct > ret_margin_pct) {
            $("#ret_margin_pct_diff").html("<i class='fa fa-arrow-up'></i> " + ThausandSeperator(convertToString(Math.round((new_margin_pct - ret_margin_pct)*100)/100)))
            $("#ret_margin_pct_diff").css("background", "#00A65A")
            $("#ret_margin_pct_diff").css("color", "#FFFFFF")
        } else {
            $("#ret_margin_pct_diff").html("<i class='fa fa-arrow-down'></i> " + ThausandSeperator(convertToString(Math.round((ret_margin_pct - new_margin_pct) * 100) / 100)))
            $("#ret_margin_pct_diff").css("background", "#DD4B39")
            $("#ret_margin_pct_diff").css("color", "#FFFFFF")
        }
        if (new_margin_rp > ret_margin_rp) {
            $("#ret_margin_rp_diff").html("<i class='fa fa-arrow-up'></i> " + ThausandSeperator(convertToString(new_margin_rp - ret_margin_rp)))
            $("#ret_margin_rp_diff").css("background", "#00A65A")
            $("#ret_margin_rp_diff").css("color", "#FFFFFF")
        } else {
            $("#ret_margin_rp_diff").html("<i class='fa fa-arrow-down'></i> " + ThausandSeperator(convertToString(ret_margin_rp - new_margin_rp)))
            $("#ret_margin_rp_diff").css("background", "#DD4B39")
            $("#ret_margin_rp_diff").css("color", "#FFFFFF")
        }
    }
    function do_add() {
        selected_id = 0;
        $("#mdg_approval_status").val(""); 
        $("#mdg_approval_file").val("");
        $("#uploaded_file").html("");
        $("#product").val("");
        $("#product").prop("disabled", false);
        $("#upd").val("");
        $("#configuration").val("");
        $("#ipack").val("");
        $("#area").val("");
        $("#remark").val("");
        $("#effective_date").val("");
        $("#toko_price").val("");
        $("#rsp_price").val("");
        $("#comment").val("");

        toko_price = 0;
        rsp_price = 0;
        ret_margin_pct = 0;
        ret_margin_rp = 0;
        $("#old_toko_price").html("");
        $("#old_rsp_price").html("");
        $("#old_ret_margin_pct").html("");
        $("#old_ret_margin_rp").html("");
        $("#ret_margin_pct").val("");
        $("#ret_margin_rp").val("");
        $("#toko_price_diff").html("");
        $("#rsp_price_diff").html("");
        $("#ret_margin_pct_diff").html("");
        $("#ret_margin_rp_diff").html("");
        $("#form_old_product").fadeOut(0);
        $("#form_mdg").fadeOut(0);
        $.ajax({
            method: "POST",
            url: "action/proposal/get_data_channel.aspx"
        }).done(function (msg) {
            $("#list_channel").html(msg);
            $("#btn-manage").click();
        });
    }
    function do_edit(id,obj) {
        selected_id = id;
        var data = null;
        for(var i=0;i<t.data().length;i++){
            if (t.data()[i][23] == id) {
                data = t.data()[i];
            }
        }
        $("#product").val(data[0]).trigger("change");
        $("#product").prop("disabled", true);
        $("#product_name").val(data[1]);
        $("#old_product_code").val(data[18]);
        $("#cpgcd").val(data[19]);
        $("#upd").val(data[2]);
        $("#configuration").val(data[3]);
        $("#ipack").val(data[4]);
        $("#area").val(data[7]);
        $("#remark").val(data[5]);
        if ($("#global_status").val() == "2" || $("#global_status").val() == "3") {
            $("#comment").val($("#comment_" + id).val());
        } else {
            $("#comment").val(data[15]);
        }
        $("#effective_date").val(data[11]);
        $("#toko_price").val(data[13]);
        $("#rsp_price").val(data[14]);
        $('#mdg_approval_date').datepicker('update', data[21]);
        $("#mdg_approval_file").val(data[20]);
        $("#uploaded_file").html(data[20]);
        $('#mdg_approval_date').datepicker('update', data[21]);
        if (data[22] == "1") {
            $("#mdg_approval_status").val("yes");
        } else {
            $("#mdg_approval_status").val("no");
        }

        toko_price = 0;
        rsp_price = 0;
        ret_margin_pct = 0;
        ret_margin_rp = 0;
        $("#old_toko_price").html("");
        $("#old_rsp_price").html("");
        $("#old_ret_margin_pct").html("");
        $("#old_ret_margin_rp").html("");
        $("#ret_margin_pct").val("");
        $("#ret_margin_rp").val("");
        $("#toko_price_diff").html("");
        $("#rsp_price_diff").html("");
        $("#ret_margin_pct_diff").html("");
        $("#ret_margin_rp_diff").html("");

        $.ajax({
            method: "POST",
            url: "action/proposal/get_data_channel.aspx"
        }).done(function (msg) {
 //       	alert("get_data_channel");
            $("#list_channel").html(msg);
            $("#btn-manage").click();
            change_remark();
            var tmp = data[9].split(',');
            for (var i = 0; i < tmp.length; i++) {
                $("#channel_" + tmp[i]).prop('checked', true);
            }
            if ($("#global_status").val() == "0" || $("#global_status").val() == "1" || $("#global_status").val() == "7" || $("#global_status").val() == "6") {

            } else {
                $("input[name='ck_channel']").attr("disabled", true);
            }
        });
        if ($("#global_status").val() == "10") {
            $.ajax({
                method: "POST",
                url: "action/proposal/get_data_effective_date_backward.aspx",
                data:{id:selected_id}
            }).done(function (msg) {
                $("#effective_date").html(msg);
            });
        }
        if ($("#global_status").val() == "11") {
            $.ajax({
                method: "POST",
                url: "action/proposal/get_data_effective_date_forward.aspx",
                data: { id: selected_id }
            }).done(function (msg) {
                $("#effective_date").html(msg);
            });
        }
//        select_area();
//        $("#area").prop("disabled",true);
    }
    function do_delete_item(id,obj) {
        selected_id = id;
        var rowIndex = -1;
        for (var i = 0; i < t.data().length; i++) {
            if (t.data()[i][22] == id) {
                rowIndex = i;
            }
        }
        bootbox.confirm("Are you sure want to delete this item?", function (result) {
            $.ajax({
                method: "POST",
                url: "action/proposal/delete_data_proposal.aspx",
                data: { id: selected_id }
            }).done(function (msg) {
                load_table();
            });
        });
    }
    function do_upload() {
        files = document.getElementById("file-mdg_approval_file").files;
        var data = new FormData();
        $.each(files, function (key, value) {
            data.append(key, value);
        });
        $("#btn-add_product").html('<i class="fa fa-circle-o-notch fa-spin"></i> Uploading . . . ');
        $(".btn").attr("disabled", true);
        $.ajax({
            url: 'action/upload_proposal/upload.aspx',
            type: 'POST',
            data: data,
            cache: false,
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            success: function (data) {
                $("#mdg_approval_file").val(data);
                $("#uploaded_file").html(data);
                $("#btn-add_product").html('Add');
                $(".btn").attr("disabled", false);
            	bootbox.alert("Upload successfully");
            }
        });
    }
    function do_add_product() {
        var tmp = $("input[name='ck_channel']:checkbox:checked").map(function () {
            return this.value;
        }).get();
        if (tmp == "") {
            bootbox.alert("Please select channel for this proposal");
        } else if ($("#remark").val() == "3" && parseFloat(parseFloat(convertToNumber(toko_price))) == 0 && $("#global_status").val() != "102" && $("#global_status").val() != "10" && $("#global_status").val() != "11") {
            bootbox.alert("Price increase must have old toko price");
        } else if ($("#remark").val() == "4" && parseFloat(parseFloat(convertToNumber(toko_price))) == 0 && $("#global_status").val() != "102" && $("#global_status").val() != "10" && $("#global_status").val() != "11") {
            bootbox.alert("Price decrease must have old toko price");
        } else if ($("#remark").val() == "3" && parseFloat(convertToNumber($("#toko_price").val())) <= parseFloat(toko_price)  && $("#global_status").val() != "102" && $("#global_status").val() != "10" && $("#global_status").val() != "11") {
            bootbox.alert("Toko price must be higher than " + toko_price+" ");
        } else if ($("#remark").val() == "4" && parseFloat(convertToNumber($("#toko_price").val())) >= parseFloat(toko_price)  && $("#global_status").val() != "102" && $("#global_status").val() != "10" && $("#global_status").val() != "11") {
            bootbox.alert("Toko price must be less than " + toko_price);
        } else if ($("#remark").val() == "1" && parseFloat(parseFloat(convertToNumber(toko_price))) > 0  && $("#global_status").val() != "102" && $("#global_status").val() != "10" && $("#global_status").val() != "11") {
            bootbox.alert("New sku must not have old toko price");
        } else if (!$("#old_product").val()) {
            bootbox.alert("Your must define old/regular product");
        }else {
            var channel_id = tmp.join(",");
            tmp = $("input[name='ck_channel']:checkbox:checked").map(function () {
                return $(this).attr("channel_name");
            }).get();
            var channel = tmp.join("<br/>");
            var mdg_approval;
            if ($("#mdg_approval_yes").prop("checked")) {
                mdg_approval = "1";
            } else {
                mdg_approval = "0";
            }
            $("#btn-add_product").html('<i class="fa fa-circle-o-notch fa-spin"></i> Add Data . . . ');
            $(".btn").attr("disabled", true);
            $.ajax({
                method: "POST",
                url: "action/proposal/save_data_draft.aspx",
                data: {
                    id_proposal:$("#global_id").val(),
                    id:selected_id,
                    sku: $("#product").val(),
                    sku_name: $("#product_name").val(),
                    dozen: $("#upd").val(),
                    configuration: $("#configuration").val(),
                    ipack: $("#ipack").val(),
                    id_callendar: $("#effective_date").val(),
                    remark: $("#remark").val(),
                    toko_price: convertToNumber($("#toko_price").val()),
                    rsp_price: convertToNumber($("#rsp_price").val()),
                    id_area: $("#area").val(),
                    comment: $("#comment").val(),
                    channel: channel_id,
                    old_sku: $("#old_product").val().join(","),
                    cpgcd: $("#cpgcd").val(),
                    mdg_approval_file: $("#mdg_approval_file").val(),
                    mdg_approval_date: $("#mdg_approval_date").val(),
                    mdg_approval: mdg_approval
                }
            }).done(function (msg) {
                $("#btn-add_product").html('Add');
                $(".btn").attr("disabled", false);
                data = eval('(' + msg + ')');
                if (data.status == 'ok') {
                    load_table();
                    $(".close-tambah").click();
                } else {
                    bootbox.alert(data.msg);
                }
            });            
        }
    }
    function do_submit() {
        if ($("#subject").val() == "") {
            bootbox.alert("Please insert subject");
        } else {
            $(".btn-save").html('<i class="fa fa-circle-o-notch fa-spin"></i> Submitting . . . ');
            $(".btn").attr("disabled", true);
            var dialog = bootbox.dialog({
                message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Submitting proposal ... </p>',
                closeButton: false
            });
            $.ajax({
                method: "POST",
                url: "action/proposal/save_edit.aspx",
                data: {
                    id: $("#global_id").val(),
                    subject: $("#subject").val()
                }
            }).done(function (msg) {
                $.ajax({
                    method: "POST",
                    url: "action/proposal/save_proposal.aspx",
                    data: {
                        id: $("#global_id").val(),
                        subject: $("#subject").val()
                    }
                }).done(function (msg) {
                    dialog.modal('hide');
                    $(".btn-save").html('<i class="fa arrow-right"></i> Submit');
                    $(".btn").attr("disabled", false);
                    if ($("#global_status").val() == "102") {
                        go_menu('edit_pricelist');
                    } else {
                        go_menu('list_proposal');
                    }
                });
            });
        }
    }
    function do_draft() {
        if ($("#subject").val() == "") {
            bootbox.alert("Please insert subject");
        } else {
            $(".btn-draft").html('<i class="fa fa-circle-o-notch fa-spin"></i> Saving . . . ');
            $(".btn").attr("disabled", true);
            var dialog = bootbox.dialog({
                message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Saving ... </p>',
                closeButton: false
            });
            $.ajax({
                method: "POST",
                url: "action/proposal/save_edit.aspx",
                data: {
                    id: $("#global_id").val(),
                    subject: $("#subject").val()
                }
            }).done(function (msg) {
                $.ajax({
                    method: "POST",
                    url: "action/proposal/save_proposal_draft.aspx",
                    data: {
                        id: $("#global_id").val(),
                        subject: $("#subject").val()
                    }
                }).done(function (msg) {
                    dialog.modal('hide');
                    $(".btn-save").html('<i class="fa fa-edit"></i> Save As Draft');
                    $(".btn").attr("disabled", false);
                    go_menu('list_proposal');
                });
            });
        }
    }
    function do_discard() {
        $(".btn-discard").html('<i class="fa fa-circle-o-notch fa-spin"></i> Discarding . . . ');
        $(".btn").attr("disabled", true);
        var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Discarding ... </p>',
            closeButton: false
        });
        $.ajax({
            method: "POST",
            url: "action/proposal/discard_proposal.aspx",
            data: {
                id: $("#global_id").val(),
                subject: $("#subject").val()
            }
        }).done(function (msg) {
            dialog.modal('hide');
            $(".btn-save").html('<i class="fa fa-trash"></i> Discard');
            $(".btn").attr("disabled", false);
            go_menu('list_proposal');
        });
    }
    function do_set_approve(btn) {
        if ($("#" + btn + " i").attr("ref_status") == "approve") {
            $("#" + btn + " i").removeClass("fa-thumbs-up");
            $("#" + btn).removeClass("btn-primary");
            $("#" + btn + " i").addClass("fa-thumbs-down");
            $("#" + btn).addClass("btn-danger");
            $("#" + btn + " i").attr("ref_status", "reject")
        } else {
            $("#" + btn + " i").removeClass("fa-thumbs-down");
            $("#" + btn).removeClass("btn-danger");
            $("#" + btn + " i").addClass("fa-thumbs-up");
            $("#" + btn).addClass("btn-primary");
            $("#" + btn + " i").attr("ref_status", "approve")
        }
    }
    function do_approve() {
        var tmp = $("i[name='btn-status']").map(function () {
            return $(this).attr("ref_id") + ":" + $(this).attr("ref_status");
        }).get();
        item_approve = tmp.join(",");        
        tmp = $("input[name='comment']").map(function () {
            return $(this).attr("ref_id") + ":" + encodeURIComponent($(this).val());
        }).get();
        item_comment = tmp.join(",");
        bootbox.confirm("Are you sure want to approve this item?", function (result) {
            if (result) {
                var dialog = bootbox.dialog({
                    message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Approving proposal ... </p>',
                    closeButton: false
                });
                $.ajax({
                    method: "POST",
                    url: "action/proposal/approve_proposal.aspx",
                    data: { id: $("#global_id").val(), status: item_approve, comment: item_comment }
                }).done(function (msg) {
                    dialog.modal('hide');
                    go_menu('proposal_approval');
                });
            }
        });
    }
    function do_approve_publish() {
        bootbox.confirm("Are you sure want to approve this item?", function (result) {
            if (result) {
                var dialog = bootbox.dialog({
                    message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Approving proposal ... </p>',
                    closeButton: false
                });
                $.ajax({
                    method: "POST",
                    url: "action/proposal/approve_proposal_publish.aspx",
                    data: { id: $("#global_id").val() }
                }).done(function (msg) {
                    dialog.modal('hide');
                    go_menu('pricelist_approval');
                });
            }
        });
    }

    function do_approve_all() {
        $("i[name='btn-status']" + " i").removeClass("fa-thumbs-down");
        $("i[name='btn-status']").removeClass("btn-danger");
        $("i[name='btn-status']"+" i").addClass("fa-thumbs-up");
        $("i[name='btn-status']").addClass("btn-primary");
        $("i[name='btn-status']" + " i").attr("ref_status", "approve")
        tmp = $("i[name='btn-status']").map(function () {
            return $(this).attr("ref_id") + ":" + $(this).attr("ref_status");
        }).get();
        item_approve = tmp.join(",");
        tmp = $("input[name='comment']").map(function () {
            return $(this).attr("ref_id") + ":" + encodeURIComponent($(this).val());
        }).get();
        item_comment = tmp.join(",");
        bootbox.confirm("Are you sure want to approve all this item?", function (result) {
            if (result) {
                var dialog = bootbox.dialog({
                    message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Approving proposal ... </p>',
                    closeButton: false
                });
                $.ajax({
                    method: "POST",
                    url: "action/proposal/approve_proposal.aspx",
                    data: { id: $("#global_id").val(), status: item_approve, comment: item_comment }
                }).done(function (msg) {
                    dialog.modal('hide');
                    go_menu('proposal_approval');
                });
            }
        });
    }
    function do_reject_all() {
        $("i[name='btn-status']").removeClass("fa-thumbs-up");
        $("i[name='btn-status']").parent().removeClass("btn-primary");
        $("i[name='btn-status']").addClass("fa-thumbs-down");
        $("i[name='btn-status']").parent().addClass("btn-danger");
        $("i[name='btn-status']").attr("ref_status", "reject")
        tmp = $("i[name='btn-status']").map(function () {
            return $(this).attr("ref_id") + ":" + $(this).attr("ref_status");
        }).get();
        item_approve = tmp.join(",");
        tmp = $("input[name='comment']").map(function () {
            return $(this).attr("ref_id") + ":" + encodeURIComponent($(this).val());
        }).get();
        item_comment = tmp.join(",");
        bootbox.confirm("Are you sure want to decline all this item?", function (result) {
            if (result) {
                bootbox.prompt("Please insert remark why you decline all item", function (result) {
                    var dialog = bootbox.dialog({
                        message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Declining proposal ... </p>',
                        closeButton: false
                    });
                    $.ajax({
                        method: "POST",
                        url: "action/proposal/approve_proposal.aspx",
                        data: { id: $("#global_id").val(), status: item_approve, comment: item_comment, all_comment: result }
                    }).done(function (msg) {
                        dialog.modal('hide');
                        go_menu('proposal_approval');
                    });
                });
            }
        });
    }
    function do_delete() {
        bootbox.confirm("Are you sure want to delete this proposal?", function (result) {
            if (result) {
                var dialog = bootbox.dialog({
                    message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Deleting proposal ... </p>',
                    closeButton: false
                });
                $(".btn-discard").html('<i class="fa fa-circle-o-notch fa-spin"></i> Deleting . . . ');
                $(".btn").attr("disabled", true);
                $.ajax({
                    method: "POST",
                    url: "action/proposal/delete_proposal.aspx",
                    data: { id: $("#global_id").val() }
                }).done(function (msg) {
                    dialog.modal('hide');
                    go_menu('list_proposal');
                });
            }
        });
    }
    $('#modal-form').on('shown.bs.modal', function () {
        $(this).find('.modal-dialog').css({
            height: 'auto',
            'max-height': '100%'
        });
    });
</script>