﻿<section class="content-header">
    <h1>
        Approve Proposal
        <small>List proposal ready to approve</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Proposal</a></li>
        <li class="active">List Proposal</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">            
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Need Action</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="submited" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Proposal Number</th>
                                <th>Subject</th>
                                <th>Tanggal</th>
                                <th>Status</th>
                                <th>Approved By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-submited"></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Approved</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="approved" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Proposal Number</th>
                                <th>Subject</th>
                                <th>Tanggal</th>
                                <th>Status</th>
                                <th>Approved By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-approved"></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
		var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
       $.ajax({
           url: "action/approval_proposal/get_data.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $("#table-submited").html(msg);
            $("#submited").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": true,
                "scrollX": true
            });
			dialog.modal('hide');
        });
       $.ajax({
           url: "action/approval_proposal/get_data_approved.aspx?sid="+Math.random(),
       }).done(function (msg) {
           $("#table-approved").html(msg);
           $("#approved").DataTable({
               "paging": true,
               "lengthChange": false,
               "searching": true,
               "ordering": false,
               "info": true,
               "autoWidth": true,
               "scrollX": true
           });
       });
    });
    function do_edit(id, status) {
        $("#global_id").val(id);
        $("#global_status").val(status);
        $.ajax({
            method: "POST",
            url: "action/proposal/prepare_to_edit.aspx",
            data: { id: id }
        }).done(function (msg) {
            go_menu("proposal_new");
        });
    }
</script>