﻿<section class="content-header">
    <h1>
        Pricelist
        <small>List unpublished pricelist</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Pricelist</a></li>
        <li class="active">Publish Pricelist</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Pricelist</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="draft" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Pricelist Number</th>
                                <th>Publish Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-draft"></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
		var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            url: "action/publish_pricelist/get_data.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $("#table-draft").html(msg);
            $("#draft").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": true,
                "scrollX": true
            });
			dialog.modal('hide');
        });
    });
    function download(id, id_division) {
        window.open('action/publish_pricelist/download_pricelist_pdf.aspx?id=' + id+"&id_division="+id_division, '_blank');
    }
    function publish(id, id_division) {
        bootbox.confirm("Are you sure want to publish this item?", function (result) {
            if (result) {
                var dialog = bootbox.dialog({
                    message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Publish pricelist ... </p>',
                    closeButton: false
                });
                $.ajax({
                    method: "POST",
                    url: "action/publish_pricelist/publish.aspx",
                    data: { id: id, id_division: id_division }
                }).done(function (msg) {
                    dialog.modal('hide');
                    go_menu('publish_pricelist');
                });
            }
        });
    }
</script>