﻿<section class="content-header">
    <h1>
        Recall
        <small>List Proposal</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Proposal</a></li>
        <li class="active">Recall</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Ongoing</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="draft" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Proposal Number</th>
                                <th>Subject</th>
                                <th>Tanggal</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-draft">                     
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
		var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            url: "action/recall/get_data.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $("#table-draft").html(msg);
            $("#draft").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": true,
                "scrollX": true
            });
			dialog.modal('hide');
        });
    });
    function do_recall(id) {
        bootbox.confirm("Are you sure want to recall this proposal?", function (result) {
            //$(".btn-discard").html('<i class="fa fa-circle-o-notch fa-spin"></i> Deleting . . . ');
            if(result){
                $(".btn").attr("disabled", true);
                var dialog = bootbox.dialog({
                    message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Recall proposal ... </p>',
                    closeButton: false
                });
	            $.ajax({
	                method: "POST",
	                url: "action/recall/recall.aspx",
	                data: { id:id }
	            }).done(function (msg) {
	                dialog.modal('hide');
	                go_menu('recall');
	            });
            }
        });
    }
</script>