﻿<section class="content-header">
    <h1>
        Submit Pricelist
        <small>Submit pricelist</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Pricelist</a></li>
        <li class="active">Submit Pricelist</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Submit Pricelist</h3>
                </div>
                    <div class="box-body">                        
                        <!-- /.box-header -->
                        <form method="post" onsubmit="submit_proposal();return false;">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="col-md-4">Division</label>
                                        <div class="col-md-8">
                                            <select id="division" class="form-control" required></select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="col-md-4">Publish Date</label>
                                        <div class="col-md-8">
                                            <input type="text" id="publish_date" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <button type="button" class="btn btn-primary" onclick="do_generate()">Find</button>
                                    </div>
                                </div>
                            </div>
                            <div id="area_table">

                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" id="btn-submit_pricelist" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    $(function () {
        $.ajax({
            url: 'action/submit_pricelist/get_division.aspx?sid='+Math.random()
        }).done(function (msg) {
            $("#division").html(msg);
        });
    });
    $("#publish_date").datepicker({
        autoclose: true,
        startDate:'0d',
        format: 'dd/mm/yyyy',
    });
    function do_generate() {
        var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Find proposal ... </p>',
            closeButton: false
        });
        $.ajax({
            method:'post',
            url: 'action/submit_pricelist/generate.aspx?sid='+Math.random(),
            data:{division:$("#division").val(),publish_date:$("#publish_date").val()}
        }).done(function (msg) {
            $.ajax({
                url: 'action/submit_pricelist/get_table.aspx?sid='+Math.random()
            }).done(function (msg) {
                dialog.modal('hide');
                $("#area_table").html(msg);
                $("#table").DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering": false,
                    "info": true,
                    "autoWidth": true,
                    "scrollX": true
                });
            });
        });
    }
    function submit_proposal() {
        var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Submit pricelist ... </p>',
            closeButton: false
        });
        var proposal = $("input[name='ck_proposal']:checkbox:checked").map(function () {
            return this.value;
        }).get().join(",");
        if (proposal == "") {
            bootbox.alert("Please select proposal you want to submit");
            dialog.modal('hide');
        } else {
            dialog.modal('hide');
            $("#btn-submit_pricelist").html('<i class="fa fa-circle-o-notch fa-spin"></i> Submitting . . . ');
            $(".btn").attr("disabled", true);
            $.ajax({
                method: 'post',
                url: 'action/submit_pricelist/submit.aspx',
                data: { division: $("#division").val(), publish_date: $("#publish_date").val(), proposal: proposal }
            }).done(function (msg) {
                if (msg != "") {
                    bootbox.alert("Proposal need GSOM approval");
                    go_menu('pricelist_need_approval');
                } else {
                    go_menu('pricelist');
                }
            });
        }
    }
    function download(id) {
        window.open('action/submit_pricelist/download_proposal_item.aspx?id=' + id, '_blank');
    }
</script>