﻿<section class="content-header">
    <h1>
        Upload Proposal
        <small>Upload proposal from template</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Proposal</a></li>
        <li class="active">Upload Proposal</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Upload Proposal</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label class="col-md-3">Upload File</label>
                                <div class="col-md-8">
                                    <input type="file" id="file" class="form-control" placeholder="Subject" autocomplete="off" accept=".xlsm">
                                    <div class="show-result show-result-nama no-margin"></div>
                                </div>
                                <button class="btn btn-primary" id="btn-upload" onclick="do_upload()">Upload</button>
                                <a class="btn btn-primary" id="btn-upload" href="Template/Proposal Template.xlsm">Download Template</a>
                            </div>
                            <div class="form-group col-md-12" id="mdl_info">
                                <label class="col-md-3">Total : <span id="total"></span>, Failed <span id="failed"></span></label>
                                <div class="col-md-8">
                                    <a class="btn btn-primary" onclick="go_download()">Download</a>
                                    <a class="btn btn-primary" onclick="go_proposal()">Go To Proposal</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-footer-->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    $("#mdl_info").fadeOut(0);
    var name = "";
    function do_upload() {
    	if($("#file").val() != ""){
	        files = document.getElementById("file").files;
	        var data = new FormData();
	        $.each(files, function (key, value) {
	            data.append(key, value);
	        });
	        $("#btn-upload").html('<i class="fa fa-circle-o-notch fa-spin"></i> Uploading . . . ');
	        $("#btn-upload").attr("disabled", true);

	        $.ajax({
	            url: 'action/upload_proposal/upload.aspx',
	            type: 'POST',
	            data: data,
	            cache: false,
	            processData: false, // Don't process the files
	            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
	            success: function (data) {
	                if (data != "") {
	                    name = data;
	                    $.ajax({
	                        method: "POST",
	                        url: "action/upload_proposal/process.aspx",
	                        data: { name: data}
	                    }).done(function (msg) {
	                        data = eval('(' + msg + ')');
	                        $("#mdl_info").fadeIn(0);
	                        $("#total").html(data.total);
	                        $("#failed").html(data.failed);
	                        $("#btn-upload").html('Upload');
	                        $("#btn-upload").attr("disabled", false);
	                    });
	                }
	            }
	        });
        }
    }
    function go_proposal() {
        go_menu("proposal_new");
    }
    function go_download() {
        window.open('Files/' + name, '_blank');
    }
</script>