﻿<style>    
    ul {
        list-style-type: none;
    }
    .border {            
        margin-left:5px;
        padding-left:20px;
        border-left:dotted 1px #DDD;
    }
    li {
        cursor:pointer;
    }
</style>
<section class="content-header">
    <h1>
        User
        <small>Set status user</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">User</a></li>
        <li class="active">Request User</li>
    </ol>
</section>
<!-- Main content -->
<div class="modal modal-default" id="modal-form">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clr-primary modal-title">
                <button type="button" class="close close-tambah" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">User Information</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group col-md-12">
                            <label class="col-md-4">Email</label>
                            <div class="col-md-8">
                                <input type="text" id="email" class="form-control" placeholder="Email" autocomplete="off" readonly>
                                <div class="show-result show-result-nama no-margin"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4">Username</label>
                            <div class="col-md-8">
                                <input type="text" id="username" class="form-control" placeholder="Username" autocomplete="off" readonly>
                                <div class="show-result show-result-nama no-margin"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-12" style="display:none">
                            <label class="col-md-4">Password</label>
                            <div class="col-md-8">
                                <input type="text" id="password" class="form-control" placeholder="Password" autocomplete="off">
                                <div class="show-result show-result-nama no-margin"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4">Name</label>
                            <div class="col-md-8">
                                <input type="text" id="name" class="form-control" placeholder="Name" autocomplete="off" readonly>
                                <div class="show-result show-result-nama no-margin"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4">Nip</label>
                            <div class="col-md-8">
                                <input type="text" id="nip" class="form-control" placeholder="Nip" autocomplete="off" readonly>
                                <div class="show-result show-result-nama no-margin"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4">Sales Org</label>
                            <input type="hidden" id="id_sales_org" value="" />
                            <div class="col-md-8">
                                <select class="form-control" id="sales_org" disabled></select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4">Job Title</label>
                            <input type="hidden" id="id_job_title" value="" />
                            <div class="col-md-8">
                                <select class="form-control" id="job_title" disabled></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group has-feedback">
                            <label for="pass">Division - Category - Brand - Segments</label>
                            <span id="list_division">

                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data User</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <button id="btn-manage" data-toggle="modal" data-target="#modal-form" style="display:none"><i class="fa fa-plus"></i> Manage</button>
                    <button id="btn-delete" data-toggle="modal" data-target="#modal-confirm" style="display:none"><i class="fa fa-plus"></i> Hapus</button>
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Job Title</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">                     
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var selected_id;
    var selected_status;
    $(function () {
		var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i>Loading data ... </p>',
            closeButton: false
        });
        $.ajax({
            url: "action/user/get_data.aspx?sid=" + Math.random(),
        }).done(function (msg) {
            $("#table-body").html(msg);
            $("#table").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering":false,
                "info": true,
                "autoWidth": true,
                "scrollX": true
            });
			dialog.modal('hide');
        });
    });
    function do_info(id) {
        selected_id = id;
        $.ajax({
            method: "POST",
            url: "action/user/get_data_form.aspx",
            data: {id:selected_id}
        }).done(function (msg) {
            data = eval('(' + msg + ')');
            $("#email").val(data.email);
            $("#username").val(data.username);
            $("#name").val(data.name);
            $("#nip").val(data.nip);
            $("#id_job_title").val(data.id_job_title);
            $("#id_sales_org").val(data.id_sales_org);
            $.ajax({
                method: "POST",
                url: "action/register/list_jobtitle.aspx",
                data: { email: $("#email").val() }
            }).done(function (msg) {
                $("#job_title").html(msg);
                $("#job_title").val($("#id_job_title").val());
            });
            $.ajax({
                method: "POST",
                url: "action/register/list_sales_org.aspx"
            }).done(function (msg) {
                $("#sales_org").html(msg)
                $("#sales_org").val($("#id_sales_org").val());
                load_division();
            });
            $("#btn-manage").click();
        });
    }
    function load_division() {
        $("#list_division").html("Loading Data . . .")
        $.ajax({
            method: "POST",
            url: "action/user/list_user_segments.aspx",
            data: { id: selected_id,sales_org : $("#sales_org option:selected").html() }
        }).done(function (msg) {
            $("#list_division").html(msg)
        });
    }
    function do_approve(id,status) {
        selected_id = id;
        selected_status = status;
        $.ajax({
            method: "POST",
            url: "action/user/update_status.aspx",
            data: {
                id: selected_id,
                status: selected_status
            }
        }).done(function (msg) {
            go_menu('user');
        });
    }
    function do_reject(id) {
        selected_id = id;
        $.ajax({
            method: "POST",
            url: "action/user/reject.aspx",
            data: {
                id: selected_id,
            }
        }).done(function (msg) {
            go_menu('user');
        });
    }
</script>