﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Session["id"].ToString();
    String old_pass = Request.Form["old_pass"].ToString();
    String new_pass = Request.Form["new_pass"].ToString();
    bool success = false;
    cotton.lib.MyDatabase db = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = db.Query("select * from m_user where id = '" + id + "' and password = '" + old_pass + "'");
    while (reader.Read()) {
        success = true;
    }
    reader.Close();
    db.Close();
    if (success)
    {
        cotton.lib.MyDatabase.FastExec("update m_user set password = '" + new_pass + "' where id = '" + id + "'");
        Response.Write("{status:1,msg:'Ok'}");
    }
    else {
        Response.Write("{status:0,msg:'Your old password did not match'}");
    }
%>