﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String email = Request.Form["email"].ToString();
    String name = "";
    String password = "";
    String username = "";
    bool success = false;
    cotton.lib.MyDatabase db = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = db.Query("select * from m_user where email = '" + email + "' and status = 5");
    while (reader.Read()) {
        name = reader["name"].ToString();
        password = reader["password"].ToString();
        username = reader["username"].ToString();
        success = true;
    }
    reader.Close();
    db.Close();
    if (success)
    {
        String msg = "Dear " + name + "<br/>";
        msg += "<br/>";
        msg += "Your current access to cotton system :<br/>";
        msg += "Username : "+username+"<br/>";
        msg += "Password : "+password+"<br/>";
        msg += "<br/>";
        msg += "Please click below link to login<br/>";
        msg += "<br/>";
        msg += cotton.lib.EmailClass.getUrl()+"<br/>";
        msg += "<br/>";
        msg += "Disclaimer:<br/>";
        msg += "Please DO NOT REPLY to this system-generated mailing.<br/>";
        String response = cotton.lib.EmailClass.SendMail(email,"Forget Password",msg);
        if (response == "Ok")
        {
            Response.Write("{status:1,msg:'Ok'}");
        }
        else {
            Response.Write("{status:0,msg:'Cant send email'}");
        }
    }
    else {
        Response.Write("{status:0,msg:'Email not registered'}");
    }
%>