﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    String sql = "";
    if (Request.Form["id"] != null)
    {
        sql = "select m_user.*,m_job_title.job_title,r_user_status.status user_status from m_user  inner join m_job_title on id_job_title = m_job_title.id inner join r_user_status on r_user_status.id = m_user.status where m_user.id='" + Request.Form["id"].ToString() + "'";
    }
    else {        
        sql = "select m_user.*,m_job_title.job_title,r_user_status.status user_status from m_user  inner join m_job_title on id_job_title = m_job_title.id inner join r_user_status on r_user_status.id = m_user.status where m_user.id='" + Session["id"].ToString() + "'";
    }
    System.Data.SqlClient.SqlDataReader reader = database.Query(sql);
    while (reader.Read())
    {
        Response.Write("{");
        Response.Write("'email':'" + reader["email"] + "',");
        Response.Write("'username':'" + reader["username"] + "',");
        Response.Write("'password':'" + reader["password"] + "',");
        Response.Write("'name':'" + reader["name"] + "',");
        Response.Write("'nip':'" + reader["noreg"] + "',");
        Response.Write("'id_job_title':'" + reader["id_job_title"] + "',");
        Response.Write("'id_sales_org':'" + reader["id_sales_org"] + "',");
        Response.Write("'grade':'" + reader["grade"] + "',");
        Response.Write("'noreg_lm':'" + reader["noreg_lm"] + "',");
        Response.Write("'status':'" + reader["status"] + "'");
        Response.Write("}");
    }
    reader.Close();
    database.Close();
%>