﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_job_title where id = '"+id+"'");
    while (reader.Read())
    {
        Response.Write("{");
        Response.Write("'job_title':'" + reader["job_title"] + "'");
        Response.Write("}");
    }
    reader.Close();
    database.Close();
%>