﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select distinct t_proposal_pricelist.*,convert(varchar,t_proposal_pricelist.created_date,103) tanggal,sp_status from t_proposal_pricelist inner join r_proposal_status on r_proposal_status.id = status"
    +" inner join t_proposal_detail on t_proposal_pricelist.id = t_proposal_detail.id_proposal"
    +" inner join v_ers on matnr = sku"
    +" inner join m_user_segments on segments = seccd"
    +" where id_user = '"+Session["id_on_behalf"].ToString()+"' and t_proposal_pricelist.status in('2','3','4','6','7')"
    +" order by t_proposal_pricelist.created_date desc");
    while (reader.Read())
    {
        Response.Write("<tr>");
        Response.Write("<td>" + reader["proposal_number"] + "</td>");
        Response.Write("<td>" + reader["subject"] + "</td>");
        Response.Write("<td>" + reader["tanggal"] + "</td>");
        Response.Write("<td>" + reader["sp_status"] + "</td>");
        cotton.lib.MyDatabase db2 = new cotton.lib.MyDatabase();
        System.Data.SqlClient.SqlDataReader reader2 = db2.Query("select top 1 name from dbo.h_approval inner join m_user on approved_by = m_user.id where id_proposal = '"+reader["id"].ToString()+"' and approval_level <= (select min(app_level) from t_approval where id_proposal='"+reader["id"].ToString()+"' and status_approve = 0) and approved_by <> '"+Session["id"].ToString()+"'  order by h_approval.id desc");
        System.Collections.Generic.List<String> nm = new System.Collections.Generic.List<String>();
        while (reader2.Read()) {
            nm.Add(reader2["name"].ToString());
        }
        reader2.Close();
        Response.Write("<td>"+String.Join(",",nm)+"</td>");
        db2.Close();
        Response.Write("<td style='text-align:center'>");
        Response.Write("<a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Review' onclick='do_edit(" + reader["id"].ToString() + ",100)'><i class='fa fa-eye'></i></a>");
        Response.Write("</td>");
        Response.Write("</tr>");
    }
    reader.Close();
    database.Close();
%>