﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_area where id = '"+id+"'");
    while (reader.Read())
    {
        Response.Write("{");
        Response.Write("'id_sales_org':'" + reader["id_sales_org"] + "',");
        Response.Write("'area_code':'" + reader["area_code"] + "',");
        Response.Write("'area_desc':'" + reader["area_name"] + "'");
        Response.Write("}");
    }
    reader.Close();
    database.Close();
%>