<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
	String select_option = Request.Form["select_option"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
	if (select_option=="id_sales_org"){
		System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_sales_org");
		while (reader.Read())
		{
			Response.Write("<option value='"+reader["id"].ToString()+"'>" + reader["sales_org_code"] + " - " + reader["company_code"] + "</option>");
		}
		reader.Close();
	}
    database.Close();
%>