﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString().Trim();
    String id_sales_org = Request.Form["id_sales_org"].ToString().Trim();
    String area_code = Request.Form["area_code"].ToString().Trim();
    String area_desc = Request.Form["area_desc"].ToString().Trim();

    cotton.lib.MyDatabase db = new cotton.lib.MyDatabase();
    int count = 0;
    if (id == "0")
    {
        System.Data.SqlClient.SqlDataReader reader = db.Query("select TOP 1 area_code from m_area WHERE area_code = '"+area_code+"' ");
        while(reader.Read()){
            count++;
        }
        if (count == 0)
        {
            cotton.lib.MyDatabase.FastExec("insert into m_area(id_sales_org,area_code,area_name,created_by, created_date) values('" + id_sales_org + "','" + area_code + "','" + area_desc + "','" + Session["id"].ToString() + "',getdate())");
            cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_area','0','Insert Data','" + Session["id"].ToString() + "',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
        }
        else {
            Response.Write("Warning!<br>Data duplicate.");
        }
    }
    else {
        System.Data.SqlClient.SqlDataReader reader = db.Query("select TOP 1 area_code from m_area WHERE area_code = '"+area_code+"' AND id != '" + id + "' ");
        while(reader.Read()){
            count++;
        }
        if (count == 0)
        {
            cotton.lib.MyDatabase.FastExec("update m_area set  id_sales_org='" + id_sales_org + "', area_code = '" + area_code + "', area_name = '" + area_desc + "' where id = '" + id + "'");
            cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_area','" + id + "','Update Data','" + Session["id"].ToString() + "',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
        }
        else {
            Response.Write("Warning!<br>Data duplicate.");
        }
    }
%>