﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    try
    {
        cotton.lib.MyDatabase.FastExec("delete from m_sales_org  where id = '" + id + "'");
        cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_sales_org','"+id+"','Delete Data','"+Session["id"].ToString()+"',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
        Response.Write("{'status':'1'}");
    }
    catch (Exception e) {
        Response.Write("{'status':'0'}");
    }
%>