﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_sales_org where id = '"+id+"'");
    while (reader.Read())
    {
        Response.Write("{");
        Response.Write("'sales_org_code':'" + reader["sales_org_code"] + "',");
        Response.Write("'max_approval':'" + reader["max_approval"] + "',");
        Response.Write("'company_code':'" + reader["company_code"] + "'");
        Response.Write("}");
    }
    reader.Close();
    database.Close();
%>