﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    String company_code = Request.Form["company_code"].ToString();
    String sales_org_code = Request.Form["sales_org_code"].ToString();
    String max_approval = Request.Form["max_approval"].ToString();

    cotton.lib.MyDatabase db = new cotton.lib.MyDatabase();
    int count = 0;
    if (id == "0")
    {
        System.Data.SqlClient.SqlDataReader reader = db.Query("select TOP 1 sales_org_code from m_sales_org WHERE sales_org_code = '"+sales_org_code+"' ");
        while(reader.Read()){
            count++;
        }
        if (count == 0)
        {
            cotton.lib.MyDatabase.FastExec("insert into m_sales_org(sales_org_code,company_code,max_approval,created_by,created_date) values('" + sales_org_code + "','" + company_code + "','" + max_approval + "','" + Session["id"].ToString() + "',getdate())");
            cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_sales_org','0','Insert Data','" + Session["id"].ToString() + "',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
        }
        else {
            Response.Write("Warning!<br>Data duplicate.");
        }

    }
    else {
        System.Data.SqlClient.SqlDataReader reader = db.Query("select TOP 1 sales_org_code from m_sales_org WHERE sales_org_code = '"+sales_org_code+"' AND id != '"+id+"' ");
        while(reader.Read()){
            count++;
        }
        if (count == 0)
        {
            cotton.lib.MyDatabase.FastExec("update m_sales_org set sales_org_code = '"+sales_org_code+"', company_code = '"+company_code+"',max_approval = '"+max_approval+"' where id = '"+id+"'");
            cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('m_sales_org','0','Update Data','"+Session["id"].ToString()+"',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
        }
        else {
            Response.Write("Warning!<br>Data duplicate.");
        }
    }
%>