<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
	String select_option = Request.Form["select_option"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
	if (select_option=="sku_code"){
		System.Data.SqlClient.SqlDataReader reader = database.Query("select * from v_ers where vmsta in (select ers_status_code from r_sku_status where cotton_status_code='A') ");
		while (reader.Read())
		{
			Response.Write("<option value='"+reader["matnr"].ToString()+"'>" + reader["matnr"] + " - " + reader["maktx"] + "</option>");
		}
		reader.Close();
	}else if(select_option=="id_channel"){
		System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_channel order by id");
		while (reader.Read())
		{
			Response.Write("<div class='checkbox'><label><input type='checkbox' id='id_channel"+ reader["id"].ToString().Trim() +"'> " + reader["channel"].ToString().Trim() + "</label></div>");
		}
		reader.Close();
	}else if(select_option=="id_channel_arr"){
		System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_channel order by id");
		while (reader.Read())
		{
			Response.Write(reader["id"].ToString().Trim() + ",");
		}
		Response.Write("none");
		reader.Close();
	}
    database.Close();
%>