<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    String sku_code = Request.Form["sku_code"].ToString();
    String selected_channel = Request.Form["selected_channel"].ToString();
	
	String sqlInsert = "";
	sqlInsert = "Delete from m_mapping_exc_sku where sku_code = '" + sku_code + "';";
	string[] id_channels = selected_channel.Split(new[]{","}, StringSplitOptions.None);
    foreach (var id_channel in id_channels){
		if (id_channel != ""){
			sqlInsert += "insert into m_mapping_exc_sku(sku_code, id_channel,created_by,created_date) values ('" + sku_code + "', '" + id_channel + "','"+Session["id"].ToString()+"',getdate());";
		}
	}
	cotton.lib.MyDatabase.FastExec(sqlInsert);
%>