﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select * from r_sku_status where id = '"+id+"'");
    while (reader.Read())
    {
        Response.Write("{");
        Response.Write("'ers_status_code':'" + reader["ers_status_code"] + "',");
        Response.Write("'cotton_status_code':'" + reader["cotton_status_code"] + "'");
        Response.Write("}");
    }
    reader.Close();
    database.Close();
%>