﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    String ers_status_code = Request.Form["ers_status_code"].ToString();
    String cotton_status_code = Request.Form["cotton_status_code"].ToString();
    if (id == "0")
    {
        cotton.lib.MyDatabase.FastExec("insert into r_sku_status(ers_status_code,cotton_status_code,created_by,created_date) values('" + ers_status_code + "','" + cotton_status_code + "','"+Session["id"].ToString()+"',getdate())");
        cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('r_sku_status','0','Insert Data','"+Session["id"].ToString()+"',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
    }
    else {
        cotton.lib.MyDatabase.FastExec("update r_sku_status set ers_status_code = '"+ers_status_code+"', cotton_status_code= '"+cotton_status_code+"' where id = '"+id+"'");
        cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('r_sku_status','"+id+"','Update Data','"+Session["id"].ToString()+"',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
    }
%>