﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select *,convert(varchar,t_proposal_pricelist.created_date,103) tanggal,sp_status tanggal from t_proposal_pricelist inner join r_proposal_status on r_proposal_status.id = status inner join t_pricelist_detail on t_pricelist_detail.id_proposal = t_proposal_pricelist.id where id_pricelist = '"+id+"'");
    while (reader.Read())
    {
        Response.Write("<tr>");
        Response.Write("<td>" + reader["proposal_number"] + "</td>");
        Response.Write("<td>" + reader["subject"] + "</td>");
        Response.Write("<td>" + reader["tanggal"] + "</td>");
        Response.Write("<td>" + reader["sp_status"] + "</td>");
        Response.Write("<td style='text-align:center'>");
        Response.Write("<a class='btn btn-xs btn-primary' data-toggle='tooltip' title='Edit' onclick='do_edit_proposal(" + reader["id"].ToString() + ",102)'><i class='fa fa-pencil'></i></a>");
        Response.Write("</td>");
        Response.Write("</tr>");
    }
    reader.Close();
    database.Close();
%>