﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select * from r_proposal_status where id = '"+id+"'");
    while (reader.Read())
    {
        Response.Write("{");
        Response.Write("'sp_code':'" + reader["sp_code"] + "',");
        Response.Write("'sp_status':'" + reader["sp_status"] + "'");
        Response.Write("}");
    }
    reader.Close();
    database.Close();
%>