﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    String sp_code = Request.Form["sp_code"].ToString();
    String sp_status = Request.Form["sp_status"].ToString();

    cotton.lib.MyDatabase db = new cotton.lib.MyDatabase();
    int count = 0;
    if (id == "0")
    {
        System.Data.SqlClient.SqlDataReader reader = db.Query("select TOP 1 sp_code from r_proposal_status WHERE sp_code = '"+sp_code+"' ");
        while(reader.Read()){
            count++;
        }
        if (count == 0)
        {
            cotton.lib.MyDatabase.FastExec("insert into r_proposal_status(sp_code,sp_status,created_by,created_date) values('" + sp_code + "','" + sp_status + "','" + Session["id"].ToString() + "',getdate())");
            cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('r_proposal_status','0','Insert Data','" + Session["id"].ToString() + "',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
        }
        else {
            Response.Write("Warning!<br>Data duplicate.");
        }
    }
    else {
        System.Data.SqlClient.SqlDataReader reader = db.Query("select TOP 1 sp_code from r_proposal_status WHERE sp_code = '"+sp_code+"' AND id!='"+id+"' ");
        while(reader.Read()){
            count++;
        }
        if (count == 0)
        {
            cotton.lib.MyDatabase.FastExec("update r_proposal_status set sp_code = '" + sp_code + "', sp_status= '" + sp_status + "' where id = '" + id + "'");
            cotton.lib.MyDatabase.FastExec("insert into h_activity([table],id_ref,[action],created_by,created_date,on_behalf) values ('r_proposal_status','" + id + "','Update Data','" + Session["id"].ToString() + "',getdate(),'" + Session["id_on_behalf"].ToString() + "')");
        }
        else {
            Response.Write("Warning!<br>Data duplicate.");
        }
    }
%>