﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase.FastExec("insert into h_approval(id_proposal,approval_level,approved_by,approved_date,on_behalf) values('" + id + "',100,'" + Session["id"] + "',getdate(),'"+Session["id_on_behalf"]+"')");
    cotton.lib.MyDatabase.FastExec("update t_approval set status_approve = '1' where id_proposal = '" + id + "' and id_approver = '" + Session["id_on_behalf"] + "'");
%>