﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase.FastExec("delete from t_proposal_channel where id_proposal_detail in (select id from t_proposal_detail where id_proposal = '"+id+"')");
    cotton.lib.MyDatabase.FastExec("delete from t_proposal_detail where id_proposal = '"+id+"'");
    cotton.lib.MyDatabase.FastExec("delete from t_proposal_pricelist where id = '"+id+"'");
%>