﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase.FastExec("update tmp_proposal_detail set is_new = 2 where id = '"+id+"' and is_new = 0");
    cotton.lib.MyDatabase.FastExec("update tmp_proposal_detail set is_new = '2' where sku in(select sku from tmp_proposal_detail where id = '" + id + "') and id_area = '8'");
    cotton.lib.MyDatabase.FastExec("delete from tmp_proposal_channel where id_proposal_detail in(select id from tmp_proposal_detail where id = '"+id+"' and is_new = 1)");
    cotton.lib.MyDatabase.FastExec("delete from tmp_proposal_channel where id_proposal_detail in(select id from tmp_proposal_detail where sku in(select sku from tmp_proposal_detail where id = '" + id + "') and id_area = '8' and is_new = 1)");
    cotton.lib.MyDatabase.FastExec("delete from tmp_proposal_detail where id = '"+id+"' and is_new = 1");
%>