﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase.FastExec("delete from tmp_proposal_channel where id_proposal_detail in(select id from tmp_proposal_detail where created_by = '" + Session["id"].ToString() + "')");
    cotton.lib.MyDatabase.FastExec("delete from tmp_proposal_detail where created_by = '" + Session["id"].ToString() + "'");
%>