﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
	System.Data.SqlClient.SqlDataReader reader = database.Query("select id,convert(VARCHAR ,publish_date,103) str_publish_date,convert(VARCHAR ,effective_date,103) str_effective_date from m_callendar where effective_date >= getdate() order by effective_date asc");
	Response.Write("<option value='' selected disabled>Please select</option>");
	while (reader.Read())
	{
		Response.Write("<option value='"+reader["id"].ToString()+"'>" + reader["str_effective_date"] +  "</option>");
	}
	reader.Close();
    database.Close();
%>