﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
	System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_proposal_remarks");
	Response.Write("<option value='' selected disabled>Please select</option>");
	while (reader.Read())
	{
		Response.Write("<option value='"+reader["id"].ToString()+"'>" + reader["remark"] +  "</option>");
	}
	reader.Close();
    database.Close();
%>