﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select MEINH,MAKTX,MATNR,UMREZ,CPGCD from v_ers inner join r_sku_status on ers_status_code  = VMSTA where (cotton_status_code = 'A' and SECCD in (select segments from m_user_segments where id_user in ("+Session["id_on_behalf"].ToString()+")) and VKORG = '"+Session["sales_org_on_behalf"].ToString()+"') or MATNR in (select sku from tmp_proposal_detail where id_proposal = '"+id+"' and status in(4,5))");
    Response.Write("<option disabled selected>Please Select</option>");
    while (reader.Read())
    {
        Response.Write("<option value='"+reader["MATNR"]+"'>"+reader["MATNR"]+" - "+reader["MAKTX"] +"</option>");
    }
    reader.Close();
    database.Close();
%>