﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
	System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_area where id_sales_org = '"+Session["id_sales_org_on_behalf"]+"' and id <> 8");
	Response.Write("<option value='' selected disabled>Please select</option>");
	while (reader.Read())
	{
		Response.Write("<option onclick='select_area()' value='"+reader["id"].ToString()+"'>" + reader["area_name"] +  "</option>");
	}
	reader.Close();
    database.Close();
%>