﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 

    String product = Request.Form["product"].ToString();
    String old_product = Request.Form["old_product"].ToString();
    String used_product = "";
    if(old_product!="none"){
        used_product = old_product;
    }else{
        used_product = product;
    }
    String[] tmp_used_product = used_product.Split(',');
    used_product = "";
    for(int i=0;i<tmp_used_product.Length;i++){
        used_product+="'"+tmp_used_product[i]+"',";
    }
    if(used_product.Length>0){
        used_product = used_product.Substring(0, used_product.Length - 1);
    }
    String area = Request.Form["area"].ToString();
    String id = Request.Form["id"].ToString();
    String toko_price = "0";
    String rsp_price = "0";
    String data = "[";
    String sql = "select sum(toko_price) toko_price,sum(rsp_price) rsp_price from t_proposal_detail where sku in("+used_product+") and id_area = '"+area+"' and id_proposal <> '"+id+"' and status = '5'";
    //Response.Write(sql);
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query(sql);
    while (reader.Read())
    {

        toko_price = reader["toko_price"].ToString();
        rsp_price = reader["rsp_price"].ToString();
    }
    reader.Close();
    database.Close();
    database = new cotton.lib.MyDatabase();
    reader = database.Query("select m_mapping_area_channel.id_channel id,ISNULL(m_mapping_channel_margin.margin,0) margin from m_mapping_area"
    +" inner join m_mapping_area_channel on m_mapping_area_channel.id_mapping_area = m_mapping_area.id"
    +" inner join m_division on m_division.id = m_mapping_area.id_division"
    +" left JOIN m_mapping_channel_margin on m_mapping_channel_margin.id_channel = m_mapping_area_channel.id_channel and m_mapping_channel_margin.id_division = m_division.id"
    +" where m_mapping_area.id_area = '"+area+"' and division_code = (select top 1 DIVCD from v_ers where matnr = '"+product+"') and m_mapping_area_channel.id_channel not in (select m_mapping_exc_sku.id_channel from m_mapping_exc_sku where sku_code = '"+product+"')");
    while (reader.Read())
    {
        data += "{'id':'" + reader["id"].ToString() + "','toko_price':'" + toko_price + "','rsp_price':'" + rsp_price + "','toko_channel_price':'','rsp_channel_price':'','margin':'"+reader["margin"].ToString()+"'},";
    }
    reader.Close();
    database.Close();
    if (data.Length > 1)
    {
        data = data.Substring(0, data.Length - 1);
    }
    else {
        data += "{'id':'','toko_price':'" + toko_price + "','rsp_price':'" + rsp_price + "','toko_channel_price':'','rsp_channel_price':'','margin':''}";
    }
    data += "]";
    Response.Write(data);
%>