﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    String key = Request.QueryString["key"];
    System.Data.SqlClient.SqlDataReader reader = database.Query("select MEINH,MAKTX,MATNR,UMREZ,CPGCD from v_ers inner join r_sku_status on ers_status_code  = VMSTA where CPGCD = '"+key+"'");
    while (reader.Read())
    {
        var tmp = reader["MAKTX"].ToString().TrimEnd().Split(' ');
        Response.Write("<option value=\""+reader["MATNR"]+"\">"+reader["MATNR"]+" - "+reader["MAKTX"]+"</option>");
    }
    reader.Close();
    database.Close();
%>