﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String matnr = Request.Form["matnr"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select top 1 MEINH,MAKTX,MATNR,UMREZ,CPGCD,isnull(configuration,'') conf,isnull(dozen,12) dozen from v_ers left join t_configuration on t_configuration.sku = matnr where matnr = '"+matnr+"'");
    while (reader.Read())
    {
        String conf = "";
        String[] tmp = reader["MAKTX"].ToString().TrimEnd().Split(' ');
        String user = "0";
        if (reader["conf"].ToString() != "")
        {
            conf = reader["conf"].ToString();
        }
        else {
            conf = tmp[tmp.Length - 1];
        }
        if (conf != tmp[tmp.Length - 1]) {
            user = "1";
        }
        Response.Write("{maktx:'"+reader["MAKTX"].ToString().TrimEnd().Replace("'","\\\'")+"',cpgcd:'"+reader["cpgcd"].ToString().TrimEnd()+"',upd:'"+reader["dozen"].ToString()+"',ipack:'"+reader["UMREZ"].ToString().TrimEnd()+"',conf:'"+conf+"',user:'"+user+"'}");
    }
    reader.Close();
    database.Close();
%>