﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
	System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_channel where id_sales_org='"+Session["id_sales_org_on_behalf"].ToString()+"'");
    while (reader.Read())
    {
        Response.Write("<div class='col-md-6'><input type='checkbox' name='ck_channel' id='channel_"+reader["id"]+"' value='"+reader["id"]+"' channel_name='"+reader["channel"]+"'>"+reader["channel"]+"</input><br/><small name='label_channel' id='price_"+reader["id"]+"'></small></div>");
    }
    reader.Close();
    database.Close();
%>