﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
    System.Data.SqlClient.SqlDataReader reader = database.Query("select id,convert(VARCHAR ,publish_date,103) str_publish_date,convert(VARCHAR ,effective_date,103) str_effective_date from m_callendar where effective_date >= getdate() and effective_date > (select effective_date from t_proposal_detail inner join m_callendar on m_callendar.id = id_callendar where t_proposal_detail.id = '"+id+"')  order by effective_date asc");
    Response.Write("<option value='' selected disabled>Please select</option>");
    while (reader.Read())
    {
        Response.Write("<option value='"+reader["id"].ToString()+"'>" + reader["str_effective_date"] +  "</option>");
    }
    reader.Close();
    database.Close();
%>