﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
	String select_option = Request.Form["select_option"].ToString();
    cotton.lib.MyDatabase database = new cotton.lib.MyDatabase();
	if (select_option=="p_product"){
		System.Data.SqlClient.SqlDataReader reader = database.Query("select distinct top 100 ltrim(rtrim(maktx)) as p_product, UMREZ, MEINH from v_ers where VMSTA = 'z1'");
		Response.Write("<option value='' selected disabled>Please select</option>");
		while (reader.Read())
		{
			Response.Write("<option value='"+reader["p_product"].ToString()+"'>" + reader["p_product"] + " " + reader["UMREZ"] + " " + reader["MEINH"] +  "</option>");
		}
		reader.Close();
	}else if (select_option=="t_channel"){
		System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_channel");
		Response.Write("<option value='' selected disabled>Please select</option>");
		while (reader.Read())
		{
			Response.Write("<option value='"+reader["id"].ToString()+"'>" + reader["channel"] +  "</option>");
		}
		reader.Close();
	}else if (select_option=="t_channel"){
		System.Data.SqlClient.SqlDataReader reader = database.Query("select * from m_proposal_remarks");
		Response.Write("<option value='' selected disabled>Please select</option>");
		while (reader.Read())
		{
			Response.Write("<option value='"+reader["id"].ToString()+"'>" + reader["remark"] +  "</option>");
		}
		reader.Close();
	}
    database.Close();
%>