﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase.FastExec("delete from tmp_proposal_channel where id_proposal_detail in(select id from tmp_proposal_detail where created_by = '" + Session["id"].ToString() + "' or id_proposal = '"+id+"')");
    cotton.lib.MyDatabase.FastExec("delete from tmp_proposal_detail where created_by = '" + Session["id"].ToString() + "' or id_proposal = '"+id+"'");
    cotton.lib.MyDatabase.FastExec("insert into tmp_proposal_detail select *,0 from t_proposal_detail where id_proposal = '" + id + "'");
    cotton.lib.MyDatabase.FastExec("insert into tmp_proposal_channel select * from t_proposal_channel where id_proposal_detail in(select id from tmp_proposal_detail where id_proposal = '"+id+"')");
%>