﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    String subject = Request.Form["subject"].ToString();
    String number = "";
    if (id == "0")
    {
        cotton.lib.MyDatabase.FastExec("insert into t_proposal_pricelist(subject,status,created_by,created_date,proposal_number,on_behalf) "
            + " values('" + subject + "',1,'" + Session["id"].ToString() + "',getdate(),'" + number + "','"+Session["id_on_behalf"].ToString()+"')");
        cotton.lib.MyDatabase.FastExec("update t_proposal_detail set id_proposal = (select top 1 id from t_proposal_pricelist where created_by = '" + Session["id"].ToString() + "' order by id desc), status = 1 where status is null and created_by = '" + Session["id"].ToString() + "'");
    }
    else{
        cotton.lib.MyDatabase.FastExec("update t_proposal_pricelist set subject = '" + subject + "' where id = '" + id + "'");
    }
%>