﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    cotton.lib.MyDatabase.FastExec("update tmp_proposal_detail set id_proposal = null where id_proposal = 0");
    cotton.lib.MyDatabase.FastExec("update main set main.sku = data.sku,main.dozen = data.dozen,main.configuration = data.configuration,main.ipack = data.ipack,main.id_callendar = data.id_callendar,main.remark = data.remark,main.comment = data.comment,main.toko_price = data.toko_price,main.rsp_price = data.rsp_price,main.status = data.status,main.created_by = data.created_by, main.created_date = data.created_date,main.id_area = data.id_area,main.sku_name = data.sku_name,main.divcd = data.divcd,main.divname = data.divname,main.catcd = data.catcd, main.catnm = data.catnm,main.barcode = data.barcode,main.old_sku = data.old_sku,main.cpgcd = data.cpgcd,main.mdg_approval_file = data.mdg_approval_file, main.mdg_approval_date = data.mdg_approval_date,main.mdg_approval = data.mdg_approval from t_proposal_detail main inner join tmp_proposal_detail data on main.id = data.id where data.created_by = '"+Session["id"].ToString()+"' and data.is_new = 0");
    cotton.lib.MyDatabase.FastExec("insert into t_proposal_detail([id_proposal],[sku],[dozen],[configuration],[ipack],[id_callendar],[remark],[comment],[toko_price],[rsp_price],[status],[created_by],[created_date],[id_area],[sku_name],[divcd],[divname],[catcd],[catnm],[barcode],[old_sku],[mdg_approval_file],[mdg_approval_date],[mdg_approval],[cpgcd]) select [id_proposal],[sku],[dozen],[configuration],[ipack],[id_callendar],[remark],[comment],[toko_price],[rsp_price],[status],[created_by],[created_date],[id_area],[sku_name],[divcd],[divname],[catcd],[catnm],[barcode],[old_sku],[mdg_approval_file],[mdg_approval_date],[mdg_approval],[cpgcd] from tmp_proposal_detail where is_new = 1 and created_by = '"+Session["id"].ToString()+"'");
    cotton.lib.MyDatabase.FastExec("delete from tmp_proposal_channel where id_proposal_detail in (select id from tmp_proposal_detail where created_by = '" + Session["id"].ToString() + "' and is_new = '2')");
    cotton.lib.MyDatabase.FastExec("delete from t_proposal_channel where id_proposal_detail in (select id from tmp_proposal_detail where created_by = '" + Session["id"].ToString() +"')");
    cotton.lib.MyDatabase.FastExec("delete from t_proposal_detail where id in (select id from tmp_proposal_detail where created_by = '" + Session["id"].ToString() + "' and is_new = '2')");
    cotton.lib.MyDatabase.FastExec("update tmp_proposal_channel set id_proposal_detail = a.new_id from tmp_proposal_channel inner join (select t_proposal_detail.id new_id,tmp_proposal_detail.id old_id from tmp_proposal_detail inner join t_proposal_detail on tmp_proposal_detail.sku = t_proposal_detail.sku and tmp_proposal_detail.id_area = t_proposal_detail.id_area and t_proposal_detail.status is null where tmp_proposal_detail.created_by = '"+Session["id"].ToString()+"' and is_new = 1) a on a.old_id = id_proposal_detail");
    cotton.lib.MyDatabase.FastExec("update tmp_proposal_detail set tmp_proposal_detail.id = t_proposal_detail.id from tmp_proposal_detail inner join t_proposal_detail on tmp_proposal_detail.sku = t_proposal_detail.sku and tmp_proposal_detail.id_area = t_proposal_detail.id_area and t_proposal_detail.status is null where tmp_proposal_detail.created_by = '" + Session["id"].ToString() + "' and is_new = 1");
    cotton.lib.MyDatabase.FastExec("insert into t_proposal_channel (id_proposal_detail,id_channel) select id_proposal_detail,id_channel from tmp_proposal_channel where id_proposal_detail in(select id from tmp_proposal_detail where created_by = '" + Session["id"].ToString() + "')");
    cotton.lib.MyDatabase.FastExec("delete from tmp_proposal_channel where id_proposal_detail in(select id from tmp_proposal_detail where created_by = '" + Session["id"].ToString() + "')");
    cotton.lib.MyDatabase.FastExec("delete from tmp_proposal_detail where created_by = '" + Session["id"].ToString() + "'");
%>