﻿<%@ Page Language="C#" AutoEventWireup="true" %>
<% 
    String id = Request.Form["id"].ToString();
    String msg = Request.Form["msg"].ToString();
        cotton.lib.MyDatabase.FastExec("insert into t_message(id_proposal,message,created_by,created_date) "
            +" values('"+id+"','"+msg+"','"+Session["id"]+"',getdate())");
%>